[2018-07-25 05:13] rasheedamir opened #3 "Create a jumbo single installation manifest"
To ease the deployment just create single jumbo manifest and then refer it in the README; just copy from other controllers.

[2018-07-25 05:20] rasheedamir opened #4 "Create a doc which compares Reloader vs. ConfigmapController"
Create a separate README in doc directory of the repo which just talks about differences between Reloader & ConfigmapController; why did we create Reloader?

- only support for deployments
- no tests?
- what else?

[2018-07-25 05:27] rasheedamir opened #5 "Add a doc which explains how it works"
We must explain how the logic works inside Reloader; we must be looking into some sort of hash calculation? Right?

Create a separate README in doc's directory.

For inspiration: https://github.com/mfojtik/k8s-trigger-controller#how-it-works

[2018-07-25 05:29] rasheedamir opened #6 "Create a doc which compares Reloader vs. k8s-trigger-controller"
Create a separate README in doc directory of the repo which just talks about differences between k8s-trigger-controller & ConfigmapController; why did we create Reloader?

- only support for deployments
- what else?
- we have more efficient way to do hash calculation?

[2018-07-27 10:13] faizanahmad055 commented on #3
Jenkinsfile has been updated [here](https://github.com/stakater/Reloader/pull/7/files#diff-58231b16fdee45a03a4ee3cf94a9f2c3R2) in [this](https://github.com/stakater/Reloader/pull/7) PR with the latest version of fabric8-pipeline-library which creates a jumbo manifest file. [Here](https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/reloader.yaml) is the jumbo manifest file.

[2018-07-27 13:35] faizanahmad055 commented on #3
Since [PR](https://github.com/stakater/Reloader/pull/7) containing changes for this issue has been merged, so closing this issue.

[2018-07-27 13:35] #3 closed

[2018-07-27 14:46] faizanahmad055 commented on #4
PR for this issue is [here](https://github.com/stakater/Reloader/pull/11)

[2018-07-27 14:46] faizanahmad055 commented on #5
PR for this issue is [here](https://github.com/stakater/Reloader/pull/11)

[2018-08-01 09:49] #6 closed

[2018-08-01 09:49] rasheedamir commented on #5
As discussed move it to docs directory

[2018-08-01 09:49] #4 closed

[2018-08-01 09:57] #5 closed

[2018-08-01 10:28] rasheedamir opened #16 "Improve the quality of logs; make them lean and useful"
The logs should tell following:

1. The name of the app which is going to be reloaded
2. The change it detected; i.e in ConfigMap or Secret

Everything seems to be just a noise in logs and gives no value to end user.

[2018-08-01 10:42] rasheedamir opened #17 "Add a doc which explains how user can verify if reloader is working as expected or not"
Add a doc which explains how to ensure that Reloader is working as expected; add log statements which can assist developer to ensure that Reloader is doing its job

[2018-08-02 09:47] faizanahmad055 commented on #16
Fixed in #19

[2018-08-02 09:47] #16 closed

[2018-08-02 09:47] faizanahmad055 commented on #17
Fixed in #20

[2018-08-02 09:47] #17 closed

[2018-10-07 08:28] rasheedamir opened #29 "How to define multiple configmaps or secrets?"
Add to README how to define multiple configmaps or secrets; what are the possible options e.g.

- new line
- comma separated list

[2018-11-15 11:52] faizanahmad055 commented on #29
Updated the readme. Closing the issue.

[2018-11-15 11:52] #29 closed

[2018-12-04 10:14] rasheedamir opened #33 "Add support for reloading application running in a container instead of rolling update"
Suggested by Marton Szucs in slack channel:

For applications that supports updating configuration at runtime, like pgbouncer or nginx, it would be nice to just reload the application inside a running container. Instead of restarting the whole Pod using a rolling update.

This is how I do it manually:
- Change configmap/secret and apply it to the cluster
- Exec into the container that has mounted

[2018-12-17 07:57] darjisanket opened #38 "crashing with "rpc error: code = Unknown desc = Error: No such container:""
I depoyed reloader in my minikube and facing
[code]
and it crashing

[2018-12-17 08:06] darjisanket opened #39 "how can I use only deployment or statefullsets as a resource instead of all (deployment,statefullset and deplyment ) by default"

[2018-12-17 08:15] faizanahmad055 commented on #39
Hi, thank you for using reloader. Reloader looks for deployment,statefullset and daemonsets by default. You just need to put the reloader annotation in relevant deployment,statefullset and daemonsets and reloader will watch them. If you want to use only the deployment then you can just put the reloader annotation in that deployment.

[2018-12-17 09:22] darjisanket commented on #39
may you please share a sample or example with me

[2018-12-17 09:57] faizanahmad055 commented on #38
Can you please share your usecase, so I can help you.
You are putting reloader annotations in reloader's deployment. The annotations need to be added in other deployments, statefulset and/or deamonsets of other tools that you want reloader to watch.

[2018-12-17 10:16] darjisanket commented on #38
yes I got it now I was using at wrong place
Thanks for you very quick help :) And reloader is awesome :)

[2018-12-17 10:16] #38 closed

[2018-12-17 10:17] darjisanket commented on #39
Thanks for your help, I was not using it properly Now it working fine

[2018-12-17 10:19] faizanahmad055 commented on #39
Reloader is used to watch if some change happens in ConfigMap and/or Secret; then perform a rolling upgrade on relevant Deployment, Deamonset and Statefulset.

For the sake of an example, let's consider another tool [ingressmonitorcontroller](https://github.com/helm/charts/tree/master/stable/ingressmonitorcontroller). We can see [here](https://github.com/helm/charts/tree/master/stable/ingressmonit

[2018-12-17 10:20] faizanahmad055 commented on #39
No problems, Happy to help :)

[2018-12-17 10:22] faizanahmad055 commented on #38
Great, thank you for using reloader :)

[2018-12-17 10:39] faizanahmad055 commented on #39
If you don't want reloader to look into daemonset, one simple solution is not to put reloader annotation in any daemonset. Currently, we do not support to watch only in deployment. In the current implementation, reloader needs permissions to look for deployments, daemonsets, and statefulsets.
If you want to make it optional and choose at runtime which type of resource to watch, you can either impl

[2018-12-17 10:52] darjisanket commented on #39
sure Thanks

[2018-12-17 11:07] faizanahmad055 commented on #39
@darjisanket , do you need any more help? If not, then can you please close this issue :)

[2018-12-17 11:08] faizanahmad055 commented on #39
Also, please star the repo if you like reloader :)

[2018-12-29 07:57] rasheedamir commented on #39
@darjisanket I am closing it now; if you still think its an issue then please open it

[2018-12-29 07:57] #39 closed

[2018-12-31 17:53] rasheedamir commented on #33
Yes it will be awesome to have this feature in place! e.g. in case of fluentd assume we have 50 nodes then it will take too much for rolling update of all pods in the daemonset; but if have restart of process then it will happen at sametime in all

[2019-01-15 14:11] waseem-h commented on #33
Here's how vmware does it in their fluentd operator: https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/fluentd/reloader.go#L26

Basically we have to enable rpc endpoint for fluentfd as mentioned here: https://docs.fluentd.org/v1.0/articles/rpc#configuration

In general, we can add support for reloading applications via RPC endpoint
- An application will contain annotation

[2019-01-23 06:46] loknathsingh commented on #4
I have created a config map and configure that in deployment file. and when i make some changes in configmap .that changes don't reflect in Running Pod.
deployment:--
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  annotations:
    configmap.reloader.stakater.com/reload: "nginx-configmap"
spec:
  select

[2019-01-24 06:41] loknathsingh opened #46 "Geeting Issue While Using Reloader In ConfigMap"
Hi Team,
I used reloader for  ConfigMap in my deployment file .and as per documentation when we make any changes in configmap then their value should reflect on running pod.But we are not getting  that change in pod.
Here is My Deployment File:-------
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  anno

[2019-01-24 06:46] kahootali commented on #46
@loknathsingh can you please share the k8s version and reloader version, you are using? And can you kindly format the Deployment and Configmap template above.

[2019-01-24 07:01] loknathsingh commented on #46
k8s version :v1.11.3

[2019-01-24 07:03] loknathsingh commented on #46
apiVersion: apps/v1
kind: Deployment
metadata:
name: nginx-deployment
labels:
app: nginx
annotations:
configmap.reloader.stakater.com/reload: "nginx-configmap"
spec:
selector:
matchLabels:
app: nginx
replicas: 3
template:
metadata:
labels:
app: nginx
spec:
containers:
- name: nginx
image: nginx
ports:
- containerPort: 80
volumeMounts:
- name: nginx-config1
mountPath: /etc/nginx/conf.d/default.conf

[2019-01-24 09:40] kahootali commented on #46
@loknathsingh  I have tested it with following config, it is working fine.
[code]

[2019-01-24 09:52] kahootali commented on #46
@loknathsingh kindly try again and let us know, I am closing the issue for now, feel free to open again if you face any issue

[2019-01-24 09:52] #46 closed

[2019-01-24 10:36] kahootali commented on #46
What do you mean by

In logs above, it shows that it has updated `nginx-deployment` as well as `ddddm-filebeat`.

[2019-01-24 12:01] loknathsingh commented on #46
@kahootali i am having around 15 **deployment.yaml** file  and 23 configmap.yaml.  so  when we make any changes in a **filebeat-configmap** file then that changes get updated in Deployment file and **filebeat pods Get restarted.** but when we when we are making any changes in another configmap file of other service. then the pod related to that service should Restart but..its not happing...
so I w

[2019-01-24 12:22] kahootali commented on #46
Is Reloader running globally? If not, make sure the deployments are running in same namespace as that of reloader. And secondly, make sure both the deployments have the reloader annotation.

[2019-01-31 09:52] faizanahmad055 opened #48 "Add support for envFrom"
Currently relaoder only supports env vars from config map like this
[code]
and not like this
[code]
Add support for this as soon as possible

[2019-01-31 14:53] Ido-Ozeri commented on #48
+1

That would be extremely helpful! We really need this in our organization and I believe others too.

[2019-01-31 21:38] maxkorp commented on #48
I was wondering why this wasn't causing reloading for me, and that would explain it.

I'm going to try to take a look into this, I've got a bit of go and kubernetes internals under my belt, but unless it ends up fairly simple I doubt I'll have time to see this through.

[2019-01-31 21:44] rasheedamir commented on #48
@maxkorp the PR is in progress and hopefully will be merged soon; you are welcome give feedback on it
https://github.com/stakater/Reloader/pull/49

[2019-01-31 21:48] maxkorp commented on #48
Ah yeah I was going to say, this looks to be out of the scale of what I could get done in the time allotted, but thats great news. I'll take a look 👍

[2019-02-01 08:50] GaryCarneiro opened #51 "Does this work on Pods managed by ReplicationController ?"

[2019-02-01 10:08] faizanahmad055 commented on #51
Hey,

Currently reloader does not support Pods managed by ReplicationController. It only supports pods managed by Deployments, Statefulsets and Daemonsets.

[2019-02-01 15:04] faizanahmad055 commented on #48
Hi @Ido-Ozeri and @maxkorp
The latest version `v0.0.23` with the fixes is out. Please take a look and let me know if you guys face any issues!

[2019-02-01 21:08] maxkorp commented on #48
It will probably be a day or two before I can get back around to it, but will do!

[2019-02-02 08:34] rasheedamir commented on #51
@GaryCarneiro I wonder why do you use RC without a deployment?

[2019-02-03 08:16] Ido-Ozeri commented on #48
I've just checked it now in our staging environment and it's working as expected.
@faizanahmad055 thanks a lot for your help and dedication. Solid job right there.

[2019-02-03 08:17] #48 closed

[2019-02-04 11:09] GaryCarneiro commented on #51
No particular reason. I see deployments are far better but they are beta. So I tried RC.
This question was mostly for curious itch. Sorry if I asked an unnecessary question without RTFM.
Thank you @faizanahmad055, @rasheedamir.

I tried reloader with Deployment and I am using it. Awesome tool !!

[2019-02-04 11:23] rasheedamir commented on #51
Yeah everyone is using Deployments in production; so, use them!

You are very welcome; every question is good.

[2019-02-04 11:23] #51 closed

[2019-02-04 11:23] ahmadiq commented on #51
Ah no problem @GaryCarneiro All questions are welcome. We are also always curious to learn so thought you might know of some RC secrets that we don't :-D
What version of Kubernetes are you using btw. If i'm not mistaken, deployments are no longer in beta since v1.9

[2019-02-04 11:33] GaryCarneiro commented on #51
You guys have an awesome response time !!

[2019-02-04 12:14] rasheedamir commented on #51
great feedback @GaryCarneiro would you like to a PR with fix? or otherwise we can do it

[2019-02-04 14:19] GaryCarneiro commented on #51
PR not needed. My question was answered.

[2019-02-12 07:10] kahootali opened #52 "Append `reloader-` to ServiceAccountName template to helpers.tpl"
`reloader-` is not appended to ServiceAccountName template in helpers.tpl so it will cause issue when deploying through Umbrella charts

[2019-02-12 22:35] harbesc opened #54 "Add support for whitelisting resourceNames in clusterrole.yaml"
Hello,

Very useful project and helpful documentation! I was wondering if there would be interest in adding a change which would allow folks to explicitly limit Reloader's RBAC access to named resources. For example in clusterrole.yaml...

[code]
I'm not sure if it would make sense to do this for all of the resources or only secrets. For our use case we are mainly concerned about secrets. Thanks!

[2019-02-13 07:58] kahootali commented on #54
Having all the resources templatized can make layman users difficult to understand, however we can have a boolean option like `watchSecrets` for enabling or disabling secrets.

[2019-02-13 07:59] rasheedamir commented on #54
We can add a documentation with example how to have more limited RBAC?

[2019-02-13 19:31] harbesc commented on #54
Thanks for the quick response. I understand wanting to keep the templates simple and readable. To clarify the two responses:

@kahootali are you suggesting using a bool value to create an entirely different role that doesn't have access to any Secrets and instead only ConfigMaps? If so that could work for our use case, but only because we update both our Secrets and ConfigMaps in the same release

[2019-02-15 07:47] kahootali commented on #52
fixed by [PR#53]( https://github.com/stakater/Reloader/pull/53)

[2019-02-15 07:47] #52 closed

[2019-02-16 00:43] llwt opened #55 "Support for ~~openshift~~ init containers?"
Is there anyway currently to have this work with openshift's [DeploymentConfigs](https://docs.openshift.com/container-platform/3.4/dev_guide/deployments/kubernetes_deployments.html#kubernetes-deployments-vs-deployment-configurations)?

---
__Edit:__ I switched over to a regular deployment and am still having issues getting Reloader to see it.

I'm curious if you see anything in the deployment belo

[2019-02-16 11:08] rasheedamir commented on #55
@llwt anything interesting in logs of reloader? I suspect some RBAC issue

[2019-02-16 14:49] faizanahmad055 commented on #55
@llwt , I've found the issue. Currently reloader support reloading volume mounts in main container of pod. While in your case you have mounted it in initContainer. There is a PR #56 on it's way to add the support for init container as well. Please take a look at it and it will be release very soon.

[2019-02-16 17:12] llwt commented on #55
@faizanahmad055 / @rasheedamir Ahh that makes sense, thanks so much for looking into this!

As a temporary work around, would it pick up the deployment if I just mounted it additionally into the main pod even though it won't be used?  (Will test this out Monday when I'm back at the office).

[2019-02-16 17:28] faizanahmad055 commented on #55
Yes, that will work.

[2019-02-19 09:39] ArjonBu commented on #54
@rasheedamir can you add that doc please?

[2019-02-20 11:02] faizanahmad055 commented on #55
Hi @llwt , Reloader [v0.0.26](https://github.com/stakater/Reloader/releases/tag/v0.0.26) with initContainer support has been released. Please try it out and let us know in case of any issue.

[2019-02-21 07:00] kahootali commented on #55
@llwt Closing this, if v0.0.26 doesn't fix the issue, feel free to open it again.

[2019-02-21 07:00] #55 closed

[2019-02-21 16:38] llwt commented on #55
Awesome, thanks! Will let you know if I have any issues!

[2019-03-14 02:39] utsav09211 opened #57 "Reloader With SealedSecrets"
Hi, Would it be possible to make reloader restart pods if sealed secrets  changes, as of now it works great with configmap and secret changes but we want it to restart pod on an update of sealed secrets

[2019-03-14 12:15] faizanahmad055 commented on #57
Reloader works with SealedSecrets. Since a SealedSecret is a custom resource and it would ultimately generate a secret, so any change in sealed secret would change the actual secret as well, provided your controller for sealed secret is running.

[2019-03-14 12:20] faizanahmad055 commented on #57
I've tested this and here are the steps that I followed to test this scenario.
1. Downloaded and installed the kubeseal client from [here](https://github.com/bitnami-labs/sealed-secrets)
2. Installed the controller for sealed secrets
3. Fetch the encryption certificate
4. Encrypted the secret.
5. Applied the secret.
6. Installed the tool which uses secret.
7. Installed Reloader.
8. Once everything

[2019-03-14 19:39] rasheedamir commented on #57
@utsav09211 is the explanation good enough?

@faizanahmad055 great thanks! can you please add it to the doc as well and reference in README as well?

[2019-03-15 08:26] faizanahmad055 commented on #57
@rasheedamir, Sure I'll add a doc for this and link the PR to this issue.

[2019-03-18 15:16] faizanahmad055 commented on #57
Doc added. PR to track is #58

[2019-04-10 15:45] kahootali commented on #57
Closing this issue

[2019-04-10 15:45] #57 closed

[2019-04-16 21:49] grzesuav commented on #33
Question : how it will guarantee HA of application? Will it respect deployment settings during restarting?

[2019-04-24 14:53] carlosmkb opened #59 "Log is printing detected changes of configmaps that it's not to be monitored"
Log is constantly printing 'Changes detected ...' of a configmap that I don't wanna its changes be monitored.

I have only one deployment with the related annotation for the reloader monitor the changes of its configmap.
But the reloader logs is printing detected changes of a configmap that  it's constantly changing, but I don't wanna its changes be monitored by reloader.

[code]

With that, it's

[2019-04-25 07:33] kahootali commented on #59
Hi @carlosmkb, Actually Reloader logs whenever it detects a change in a resource but reloads only that pods that have the annotation, we will fix this soon and log only when Reloader is restarting a pod.

[2019-04-25 09:55] #59 closed

[2019-05-06 13:58] kahootali opened #61 "Add support for resources mounted as well as the ones mentioned in annotation"
Add support for configmaps/secrets mounted in pod as well as the resources mentioned in annotations

[2019-05-07 12:12] faizanahmad055 commented on #61
Fixed in #62

[2019-05-07 15:19] roeera opened #63 "doesn't see work on 1.12.6 EKS"
version 0.0.27 - do nothing - means reloader comes up and that's it.
only shows :
time="2019-05-07T15:08:49Z" level=info msg="Starting Reloader"
time="2019-05-07T15:08:49Z" level=warning msg="KUBERNETES_NAMESPACE is unset, will detect changes in all namespaces."
time="2019-05-07T15:08:49Z" level=info msg="Starting Controller to watch resource type: secrets"
time="2019-05-07T15:08:49Z" level=info m

[2019-05-07 16:20] faizanahmad055 commented on #63
The difference between version 0.0.27 and 0.0.26 is this log message, as you can see here #60. In 0.0.27 position of this log has been changed so log is only going to be be printed when reloader will restart a pod. This way, it will not print additional logs when there is no reload happening.

[2019-05-07 16:27] faizanahmad055 commented on #63
In 0.0.27, reloader works the same way as in 0.0.26. Please check if your configmap is getting updated. After a change in configmap, you will see the pod restart and above mentioned log in reloader.

[2019-05-07 16:48] faizanahmad055 commented on #63
Also, please make sure you are using the annotations correctly. If you think every thing is on point, and reloader still doesn't restart the pod, please share your annotation configuration.

[2019-05-13 22:31] mrmuli commented on #33
I would also like to put in consideration for applications with required bootstrapping on start or restart. Unless this will be implemented towards very specifically defined apps or those running behind process managers. I'm not sure how this would work out, seems very diverse?

[2019-06-07 14:21] srvmsr opened #66 "Support for openshift deploymentconfig"
First of thanks for great documentations .
I have a question :
can we extend support to openshift deploymentconfigs ?
would be great if this works well for deploymentconfigs

[2019-06-11 07:22] kahootali commented on #66
Reloader works for DeploymentConfigs as well. Can you share your scenario?
@faizanahmad055 Please confirm.

[2019-06-11 07:23] kahootali commented on #63
@roeera Closing this. If you face this issue again, please re-open again.

[2019-06-11 07:23] #63 closed

[2019-06-11 11:57] srvmsr commented on #66
@kahootali we are using deployment config on openshift for our applications, some of these applications share one configmap , we want to monitor changes to this configmap and reload applications accordingly . i have extended the reloader role to include deploymentconfigs as well, but there was no reload.
Things work well when i tested for deployments rather than deploymnetconfigs .

apiVersion: rb

[2019-06-11 12:35] kahootali commented on #66
@srvmsr my bad, Reloader doesn't work for DeploymentConfigs currently. We will try to add this functionality

[2019-07-01 13:02] gberenice opened #70 "Error in logs "spec.template.spec.dnsConfig: Required value: must provide `dnsConfig` when `dnsPolicy` is None""
Hello!
We are facing an issue with reloader running on k8s 1.13.5 on DigitalOcean:

```time="2019-06-28T09:28:33Z" level=error msg="Update for 'web' of type 'Deployment' in namespace 'test' failed with error Deployment.apps \"web\" is invalid: spec.template.spec.dnsConfig: Required value: must provide `dnsConfig` when `dnsPolicy` is None"```

While dnsConfig is provided in corresponding Deployment

[2019-07-02 09:11] aliartiza75 commented on #70
@gberenice I am looking at this issue, once it is root caused. I will let you know.

[2019-07-02 10:24] henryaj opened #71 "Disable monitoring changes to Secrets"
I want to use Reloader, but don't want it to monitor Secrets, just ConfigMaps (as I don't want to give it access to read Secrets in my cluster). Seems like a pretty straightforward change - happy to open a PR.

[2019-07-04 06:06] #70 closed

[2019-07-04 06:12] aliartiza75 commented on #70
@gberenice the issue was with the version of k8s API. `dnsConfig` was introduced in version `1.9` onwards details can be seen on this [link](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#feature-availability). Reloader was using version `1.8` of k8s API. Now I have bumped the version to `1.10` and the issue has been resolved.

[2019-07-04 08:37] waseem-h commented on #66
@srvmsr Support for DeploymentConfigs is underway in #74

[2019-07-04 11:03] gberenice commented on #70
@aliartiza75 thanks! it works with the new version.

[2019-07-04 11:07] aliartiza75 commented on #70
@gberenice thank you for pointing out the issue.

[2019-07-05 08:12] aliartiza75 commented on #71
this feature has been added in `Reloader:v0.0.35`, closing this issue.

[2019-07-05 08:12] #71 closed

[2019-07-05 08:19] aliartiza75 commented on #54
@harbesc feature you were suggesting has been added in `Reloader:v0.0.35`. Do let me know if you need help in that regard. For now, I am closing this issue!

[2019-07-05 08:19] #54 closed

[2019-07-08 10:23] waseem-h commented on #66
Closing as this feature has been implemented in #74 and has been released in v0.0.37. You can check it out @srvmsr

[2019-07-08 10:23] #66 closed

[2019-08-03 11:15] raffaelespazzoli opened #77 "wrong permissions on deployment config"
Hi,

I deployed reloader in OpenShift with the helm chart. it looks like it detects that it is running on OpenShift because it tries to list deployment config, but it can't because it doesn't have permissions to do so.
[code]

[2019-08-03 19:41] waseem-h commented on #77
Seems like the vanilla manifests dont have the deploymentconfig RBAC by default. Are you deploying using them or do you see this problem when deploying via helm chart?

[2019-08-03 21:43] raffaelespazzoli commented on #77
@waseem-h like I said in the issue description I am using the helm chart

[2019-08-04 08:21] waseem-h commented on #77
Sorry i missed that. It seems like the check is in place but it isnt working for some reason
https://github.com/stakater/Reloader/blob/b0dcb4c5e29e8535bf1e75ae19a4c7056e822b16/deployments/kubernetes/chart/reloader/templates/role.yaml#L29

Can you do a helm install --dry-run --debug and post the output? And please mention the Openshift cluster version so that I can reproduce the issue and fix it. T

[2019-08-04 11:07] raffaelespazzoli commented on #77
I think I know what is happening. I run helm in a tiller-less way, like this:
`helm template <chart> ... | oc apply -f -`
so probably that variable is not populated correctly. Is there a way to pass that value from the command line?

[2019-08-04 14:39] waseem-h commented on #77
The value gets populated using tiller runtime vars so I don't think you can set a value to fix this. I will try to add perms based on values to support this

[2019-08-05 07:22] waseem-h commented on #77
I have a PR ready for the change. Once #78 is merged, you can try the new release by running `helm template <chart> --set isOpenshift=true ... | oc apply -f -` @raffaelespazzoli

[2019-08-05 08:57] waseem-h commented on #77
@raffaelespazzoli A new version (v0.0.38)[https://github.com/stakater/Reloader/tree/v0.0.38] has been released. Please try it with the command above and let me know if the issue has been fixed

[2019-08-05 13:06] raffaelespazzoli commented on #77
@waseem-h sounds good, I'll give it a try.

[2019-08-05 21:59] #77 closed

[2019-08-11 17:26] winromulus opened #79 "Helm - broken chart and multiple issues"
Hi,

The current helm chart has multiple issues:
- the `reloader` level in the values file completely breaks backwards compatibility
- some resources use `reloader-name` instead of `reloader-fullname`
- missing `nodeSelector` on the deployment
- values specify a default `name` for the service account instead of leaving it empty, to fallback on `reloader-fullname`

As a last note, it would be great

[2019-08-11 20:50] rasheedamir commented on #79
thanks for reporting the issue @winromulus

PR's are very welcome and totally agree we should move it to Helm hub

[2019-08-14 10:33] winromulus commented on #79
I opened https://github.com/helm/charts/pull/16313 for this issue. I'm not sure what the source of truth is for the helm chart as they seem out of sync

[2019-08-15 09:30] datacticapertti opened #81 "Remove obsolete(?) file build/package/reloader"
The file was added in release 0.0.1 (067f09b9682d5144e40b77d37f5260232b0be773), and it does not seem to be used anywhere. At least I was able to build the docker images and deploy to a local kubernetes cluster even though I deleted the file.

The presence of a binary elf file in the repo freaks out our security people to no end.

[2019-08-15 22:40] rasheedamir commented on #81
@aliartiza75 can you please take care of it?

[2019-08-19 04:22] aliartiza75 commented on #81
@rasheedamir yes sure!

[2019-08-19 14:39] winromulus commented on #79
Fixed in https://github.com/helm/charts/pull/16313

[2019-08-19 14:39] #79 closed

[2019-08-21 02:04] raffaelespazzoli opened #84 "publishing reloader on operator hub"
Hi, I am a fan on this operator and I have recently featured it in a blog post:
https://blog.openshift.com/self-serviced-end-to-end-encryption-for-kubernetes-applications-part-2-a-practical-example/

Also I wanted to invite you to consider publishing this operator on operator hub (https://operatorhub.io/) so that it becomes available (easily installable from a catalog) in every OpenShift deploymen

[2019-08-21 04:40] aliartiza75 commented on #84
@raffaelespazzoli, we are working on publishing it to Operator Hub.

[2019-08-21 06:47] aliartiza75 commented on #84
@raffaelespazzoli this is not an operator, it is just a controller, so there is no need to publish it to operator hub.

[2019-08-21 07:08] #81 closed

[2019-08-21 07:09] aliartiza75 commented on #81
@datacticapertti, reloader's binary file has been removed.

[2019-08-21 07:35] aliartiza75 commented on #84
@raffaelespazzoli closing this issue for now!

[2019-08-21 07:35] #84 closed

[2019-08-21 10:56] datacticapertti commented on #81
Great, thanks!

[2019-08-27 07:54] dz0ny opened #91 "Race condition for kube-system namespace"
**Describe the bug**
Logs are full of changes observed in **kube-system** namespace. For cluster deployments, in this case, **cluster-autoscaler-status**. From what I observed this adds quite GB per month just for logs, then delays a bit updates to resources that we want to watch actually.

**To Reproduce**
Deploy **Reloader** to Google Kubernetes Engine

**Expected behavior**
I think **Reloader**

[2019-08-27 08:06] waseem-h commented on #91
Currently we have an option that lets you deploy reloader globally and watch resources in all namespaces or restrict it to the namespace that it is deployed in. You can deploy multiple reloader instances and that can solve this issue. But if you have a lot of namespaces and you want to exclude just some namespaces then lets discuss how we can implement that. And if we're going to implement excludi

[2019-08-27 08:19] dz0ny commented on #91
Yep, saw the https://github.com/stakater/Reloader/blob/master/internal/pkg/cmd/reloader.go#L38.

About our setup, we have hundreds of namespaces, some are short-lived some long. My idea is to add new **EXCLUDE_NAMESPACES** option (not sure about, arg or env). This would be a simple string match not and RegExp and it would happen in https://github.com/stakater/Reloader/blob/da4ffc94321c6253e9339441

[2019-08-27 08:24] waseem-h commented on #91
@dz0ny I see 2 problems with this:
1. Access Leak (SA still has access to all the namespaces)
2. Controller watching all resources and ignoring at queue level

It should be implemented in a way that we don't see these 2 issues. The 2nd one can be fixed by passing a namespace selector to the API (I assume there's a way). I'm not quite sure about the 1st one. Maybe it can be ignored, maybe not

[2019-08-27 08:33] dz0ny commented on #91
There is no way to limit watching on the namespace level via API. K8S API has internal methods for either watching all namespaces or just specific, as a consumer you can filter events before they put into a queue.

Even **ClusterRole** is designed this way(either watch one or all), see https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources

[2019-08-27 08:45] dz0ny commented on #91
Another way would be to only do updates if the certain label is present, but that would not be on namespace level. It that case each Secret or Config map would need to have a certain label.

[2019-08-27 08:47] waseem-h commented on #91
Labelling each and every configmap is not ideal. I think its fine now if we would just filter them out before putting them into a queue and we can specify the filtered namespaces via an arg

[2019-08-27 08:54] dz0ny commented on #91
And I think has been deprecated https://github.com/stakater/Reloader/search?q=watchGlobally&unscoped_q=watchGlobally ?

[2019-08-27 08:57] waseem-h commented on #91
Actually the flag is used just inside the helm chart to create either ClusterRoleBinding and ClusterRole or RoleBinding and Role. If watchGlobally is false then WATCH_NAMESPACE needs to be set

[2019-08-28 10:48] steefdebruijn opened #92 "Direct installation into k8s not working (since 0.39)"
Hi,

I tried to install per instructions today (v0.40):

[code]

but this results in an error:

[code]

I think this is coming from changes after 0.38 release when names in the `reloader.yaml` were changed from `reloader` to `RELEASE-NAME-reloader`.

[2019-08-28 11:34] waseem-h commented on #92
It is due to a bug in our CI/CD pipeline for Reloader. I will ask someone to fix that. @kahootali can you please update the helm template command to have the name attribute set when running it? Like `helm template . --name ${chartName}`. It should be here: https://github.com/stakater/stakater-pipeline-library/blob/master/src/io/stakater/charts/Templates.groovy#L78
Then point the Jenkinsfile for th

[2019-08-28 13:07] evilr00t commented on #92
@steefdebruijn I've analyzed helm chart and this seems to work:

[code]

[2019-08-28 18:49] rasheedamir commented on #92
PR to clarify it in the README https://github.com/stakater/Reloader/pull/93

[2019-08-30 12:41] KlavsKlavsen commented on #91
Can't you use labels - like f.ex. istio does for its injector.. (where you set a label for the namespaces you want istio injector to run in)

[2019-08-30 13:22] pkaramol opened #94 "Documentation disambiguation regarding restart vs rolling upgrade"
In the headline of the github project page, one can read:

However, further down below the docs mentioned that a *rolling uprade* is performed.

e.g.

Which one is the actual case?

[2019-08-30 14:30] kahootali commented on #94
Hi @pkaramol, Reloader does rolling updates, will update in the Readme

[2019-09-04 14:52] chiefy opened #96 "Support other secret types"
Currently it appears reloader only supports secrets of `Type: Opaque`, we're trying to use it with [cert-manager](https://github.com/jetstack/cert-manager) which creates `Type: kubernetes.io/tls` so that `Daemonsets` will re-deploy when we rotate our certs.

- [relevant slack thread](https://stakater.slack.com/archives/CC5S05S12/p1567601089018700)

[2019-09-09 05:56] shikhar7 opened #97 "Helm chart"
Public helm chart of reloader is not available i have to do `helm repo add` to add the helm chart.Can you please make your helm chart's yaml public.

Thanks

[2019-09-09 05:58] #97 closed

[2019-09-10 19:39] rasheedamir commented on #96
Great idea @chiefy ; we will be very happy if you guys can make a PR

[2019-09-10 19:40] rasheedamir commented on #94
@kahootali please make PR for the change in ReadMe

[2019-09-11 06:18] kahootali commented on #94
@rasheedamir, it is not not related to ReadMe, but the description of Repo, I have updated that.
Closing the issue.

[2019-09-11 06:18] #94 closed

[2019-09-18 12:43] magicmoose commented on #92
The sed approach does not really fix the issue.
If we are applying the configuration with gitops tooling it is not good to have to preprocess the files to make them applyable.

[2019-09-18 12:59] aliartiza75 commented on #92
hi @magicmoose,

what you can do is generate the reloader manifest using the sed approach then add that manifest in your gitops workflow.

Although this is not the best solution, I will try to resolve it asap.

[2019-09-18 13:00] magicmoose commented on #92
This is currently what we do.

[2019-09-18 15:16] evilr00t commented on #92
That would be more "flexible" I would say, jq is dependency here tho.

[code]

[2019-09-18 18:28] aliartiza75 commented on #92
@evilr00t thank you for your input but this issue will be fixed soon and after that, these kinds of temporary fixes will not used.

[2019-10-09 06:44] #92 closed

[2019-10-09 07:50] evilr00t commented on #92
@kahootali what about README? it hasn't been changed and still uses sed method.

[2019-10-09 07:57] aliartiza75 commented on #92
@evilr00t, I have created a [PR](https://github.com/stakater/Reloader/pull/100/files) that has the updated command.

[2019-10-09 08:03] aliartiza75 commented on #92
@evilr00t README.md has been updated

[2019-10-15 06:09] a6kme opened #103 "Reloader overrides my dnsConfig"
Helm chart version: `1.1.3`

I have set up `dnsConfig` in my deployment to override the `ndots` parameter. But, when `reloader` rolls out a new release, the parameter value gets overridden.

My original deployment manifest - `kgdepoyaml pushowl-backend-gunicorn`
[code]
Then I change my configmap to change some value. `kubectl edit configmap/env-staging`

My new deployment then becomes - `kgdepoyam

[2019-10-15 06:51] waseem-h commented on #91
Fixed by #102

[2019-10-15 06:51] #91 closed

[2019-10-15 13:39] Neraud opened #105 "Reloader broken with Kubernetes 1.16"
After deploying Reloader on an on-prem Kubernetes 1.16 cluster, I've seen many logs like :
`Failed to list [kind] the server could not find the requested resource`

I've reproduced the issue on a more simple and controlled minikube setup.

Using minikube 1.3.1 (with Kubernetes 1.15), it works fine.
Using minikube 1.4.0 (with Kubernetes 1.16), it produces the same error.

Manifests are [available t

[2019-10-15 13:44] waseem-h commented on #105
Thanks for pointing it out @Neraud. I have plans to fix this soon

[2019-10-16 05:05] waseem-h commented on #105
@Neraud Making reloader compatible with 1.16 is underway in #106

[2019-10-16 07:57] #105 closed

[2019-10-29 09:21] ankon commented on #33
We're using https://github.com/weaveworks/watch for this purpose:
1. Mount the configmap as volume into a side-car running watch
2. Watch the mount point/files in it
3. Trigger the reload by issueing a curl command to the actual app

[2019-10-29 09:27] ankon opened #110 "Coalescing changes in multiple configmaps"
In our setup we have many services modelled as deployments, and each of them consumes settings from multiple configmaps and secrets (typically one for the "bigger picture" settings, and then one more specialized for the service itself).

We also roll-out changes in the kubernetes resources through our CI setup (Travis + https://github.com/Collaborne/kubernetes-bootstrap).

Together this leads to s

[2019-10-29 11:05] hefekranz opened #111 "Reloader losing connection / kubernetes api connection refused / http2 GOAWAY"
Hi there!
First up, thanks for this great tool!

We are experiencing some issues with reloader on the long run. We used the default config:

[code]

This works fine in the next few days. However, after a few days, changes to CMs and Secrets aren't detected and we see the following in the logs:

[code]

The last entry continues.
I checked, we can reach the Kubernetes API at https://10.11.32.1:443 f

[2019-10-30 05:18] aliartiza75 commented on #111
@hefekranz thank you for pointing out this issue, we will investigate it.

[2019-10-30 05:20] aliartiza75 commented on #110
@ankon thank you for using reloader. I think you want a parameter to configure the config maps and secrets reload interval. Is this correct?

[2019-10-31 10:07] ankon commented on #110
Modelling this as a "backoff", "cooldown period" or "reload interval" would be fitting I think, yes.

[2019-10-31 11:52] palmerabollo opened #112 "question: two reloader replicas"
Is it possible to have two replicas running at the same time? I mean, are they able to coordinate so, when a configmap/secret changes, only one of them takes care of reloading the associated deployment/statefulset/etc?

The use case is being able to deploy reloader with HA guarantees in a K8S cluster.

Thanks. This project is really useful.

[2019-11-01 14:54] markabdallah opened #113 "Permission Issue"
Hi,

I followed the documentation and added the annotations to detect changes for the configmaps like so

[code]
But when I apply changes to my configmap the pod doesn't reload. I investigated the logs for the reloader and I get the following error:

`Failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount:my-ns:reloader-reloader" cannot list resource "configmaps" in API

[2019-11-01 15:28] markabdallah commented on #113
My mistake, I had to deploy it in the default namespace. That's why I was getting that error.

[2019-11-01 15:28] #113 closed

[2019-11-02 01:47] jawlitkp opened #114 "Unable to create Kubernetes client error = no Auth Provider found for name "gcp""
Getting below error while working against google Kubernetes engine

FATA[0000] Unable to create Kubernetes client error = no Auth Provider found for name "gcp"

[2019-11-02 01:56] #114 closed

[2019-11-06 08:30] aliartiza75 commented on #112
Hi @palmerabollo, you can run multiple instances of reloader at the same time but there will be no coordination between those instances **currently**.

[2019-11-06 09:37] aliartiza75 commented on #103
@a6kme kindly have a look at this [issue](https://github.com/stakater/Reloader/issues/70)

[2019-11-06 13:45] palmerabollo commented on #112
Thanks @aliartiza75. That means that your deployment/statefulset/etc can be reloaded as many times as the number of reloader replicas you have, right?

I think that leveraging kubernetes leader-election capabilities would be a nice improvement.

[2019-11-06 13:50] aliartiza75 commented on #112
yes, @palmerabollo your resources will be reloaded by each instance of reloader but it can cause concurrent modification error.

Thanks for the suggestion I will look at the requested feature.

[2019-11-13 18:57] rasheedamir commented on #111
@hefekranz were you able to fix it? or it still exists?

[2019-11-13 19:00] rasheedamir commented on #110
@ankon can you please make a PR in Reloader for this feature? It will be very useful for the community

[2019-11-13 19:01] rasheedamir commented on #103
@a6kme does the problem still exist or we should close this issue?

[2019-11-13 21:21] ankon commented on #110
It's quite hard for me to make a PR for reloader for this, because we're not using it anymore -- sorry for that.

The whole point of the issue here was actually to say: "We found reloader useful, but moved to another implementation that better fit into our environment -- still you might want to consider this piece as an idea".

[2019-11-14 10:29] rasheedamir commented on #110
OK cool no problem; we will take care of your great suggestions and incorporate them in Reloader.

[2019-11-14 20:20] hefekranz commented on #111
I weren't able to fix and it still exists

[2019-11-22 14:03] takaaki7 opened #115 "Using reloader manifests with kustomize build prints error log."
We tried to install reloader by kustomization.
Then `kustomize build .` printed following log .
[code]

`kustomize build .` succeeded and result is correct, so maybe these logs are warning.
Are these log because of reloader's manifests? How to suppress?

### Our settings
#### reloader/kustomization.yml
[code]

#### usage
[code]

[2019-11-26 13:35] sramek5 opened #116 "Add a restart pod option"
Is it possible to just restart pod with one container after changing secret?

In our case we have a pod with one container and when secret change, reloader will make immediately a new pod related to this secret and the old one will be deleted.

But just imagine that a secret would be in bad format od it would contain wrong password/cert/username. In this case the old pod will be still running (bec

[2019-11-26 14:04] #116 closed

[2019-11-27 06:06] aliartiza75 commented on #115
@takaaki7 thank you for opening this issue, I will look at this issue

[2019-11-27 06:08] aliartiza75 commented on #103
hi @a6kme,

does the problem still exists?

[2019-11-27 07:02] a6kme commented on #103
Hey @aliartiza75 - Actually I went ahead without using Reloader, and running `kubectl rollout restart deployment` in my CI/ CD pipeline of ConfigMaps. So, I am not really sure if the problem still exists.

[2019-11-27 07:03] aliartiza75 commented on #103
@a6kme ack, thank you.

[2019-11-28 18:58] clausa20 opened #117 "[SUPPORT] reloader not working"
Hello, I need your help.
I followed the documentation but it does not work.
I have a deployment with config maps, and also the reloeader container running.
When the config map is updated, also in the deployment volume path, then the reloader does not reload the deployment to reflect configuration changes.

All set up I did was:
in the deployment add the annotation:
reloader.stakater.com/auto: "tru

[2019-11-29 05:34] aliartiza75 commented on #117
hi @clausa20, kindly share complete deployment manifest.

[2019-11-30 19:34] adamelliotfields commented on #117
If you're using the `auto` annotation, remember that your ConfigMap or Secret must following a naming convention.

If your Deployment is named `foo`,  then your ConfigMap **must** be named `foo-configmap`.

[2019-12-02 06:23] aliartiza75 commented on #103
closing issue due to inactivity.

[2019-12-02 06:23] #103 closed

[2019-12-02 06:32] aliartiza75 commented on #117
@adamelliotfields thank you for your input but reloader doesn't operate the way you suggested.

The correct working is given below:
If a user uses `auto` annotation, Reloader will monitor only those `ConfigMap`s and `Secret`s that are specified in your deployment manifest. It doesn't use any kind of regex for `ConfigMap`s and `Secret`s detection and monitoring.

@clausa20 kindly have a look at it

[2019-12-02 19:53] adamelliotfields commented on #117
Ahhh, I see, sorry for the confusion, the docs lead me to believe otherwise. I've actually only used Reloader using the manual set up. I deleted my comment to avoid misleading others.

[2019-12-03 05:31] aliartiza75 commented on #117
Hi, @clausa20 Kindly read the above comment and your issue has been resolved then kindly close this issue.

[2019-12-03 05:32] aliartiza75 commented on #117
Hi, @adamelliotfields thank you for your input. :)

[2019-12-13 08:14] aliartiza75 commented on #117
Hi @clausa20, due to inactivity I am closing this issue.

[2019-12-13 08:14] #117 closed

[2019-12-13 16:58] jeblackmore opened #118 "Errors in pod logs on startup - failed to list deployments"
I installed the stable release with default settings on a Kubernetes cluster using Helm. Annotated my Deployments as per the instructions but I'm not seeing any rolling updates when I change a ConfigMap. When I checked the reloader pod logs I found this:
[code]
Then the last 3 lines just repeat periodically.

I'm wondering if its an RBAC issue, but the ClusterRole and ClusterRoleBinding seem to be

[2019-12-17 11:26] aliartiza75 commented on #118
Hi, @jeblackmore,

Kindly share you helm manifest.

[2019-12-17 11:36] jeblackmore commented on #118
Hi.

I haven't created a Helm manifest, I am just doing:
[code]
on the command line.

[2019-12-17 11:38] aliartiza75 commented on #118
@jeblackmore Kindly share your deployment manifest.

[2019-12-17 11:41] jeblackmore commented on #118
Do you mean the output of
[code]
?

[2019-12-17 11:43] aliartiza75 commented on #118
no, I want the manifest of one of your deployments in which you added the reloader specific annotations.

[2019-12-17 11:47] jeblackmore commented on #118
[code]

[2019-12-17 11:50] jeblackmore commented on #118
With the corresponding ConfigMap:
[code]

[2019-12-17 12:16] jeblackmore commented on #118
I assumed that the error messages in the Pod log indicated that something isn't configured correctly with Reloader rather than with my deployments. Does Reloader just output those errors if it doesn't find any annotated deployments?

[2019-12-18 05:16] aliartiza75 commented on #118
@jeblackmore the errors show that it is not able to find the deployments in your cluster. I will try to replicate the scenario to find out the exact issue.

[2019-12-18 10:02] jeblackmore commented on #118
Thanks. Its v1.16.2

[2019-12-23 07:59] jeblackmore commented on #118
Hi. Any luck reproducing it?

[2019-12-29 09:42] rasheedamir commented on #118
@aliartiza75 can you plz take a look?

[2019-12-29 11:03] rjshrjndrn opened #120 "Reloader is not detecting any changes in config maps."
Hi,
This application is a perfect solution to the nightmare. Thank you for building this.

But the thing is I am not able to make it work.
I deployed using helm chart with `--set reloader.watchGlobally=false --namespace dev` and without any args. I have istio enabled in the NS, so I have to add `sidecar.istio.io/inject: "false"` else it was giving 172.17.0.1 connection refused.

But for what ever

[2019-12-30 13:22] aliartiza75 commented on #120
@rjshrjndrn kindly share your manifests.

[2019-12-30 13:50] aliartiza75 commented on #118
@jeblackmore. What is the helm version you are currently using?

[2019-12-31 05:34] rjshrjndrn commented on #120
create a cluster using `k3d create --server-arg --no-deploy --server-arg traefik --server-arg --no-deploy --server-arg local-storage --server-arg --no-deploy --server-arg metrics-server --name reloader --image rancher/k3s:v1.0.0`
kubectl create namespace dev
[code]
[code]
[code]
[code]
**/tmp/reloader.yaml**
[code]
**reloader**
[code]

[2019-12-31 05:39] rjshrjndrn commented on #120
@aliartiza75 please check

[2019-12-31 05:41] aliartiza75 commented on #120
@rjshrjndrn ok I will have a look at it.

[2019-12-31 06:15] rjshrjndrn commented on #120
closing the issue, As I think I found the issue. It was because I added the annotation to the pod, not deployment. Thank you @aliartiza75

[2019-12-31 06:15] #120 closed

[2020-01-03 10:11] waseem-h commented on #118
@jeblackmore The upstream stable helm chart repo is not updated to the latest version and it doesn't support kubernetes 1.16.x. You need to install reloader from our chart repository by running the following(Make sure that you have uninstalled the previous version):

[code]

Closing it for now. Feel free to re-open if you still see the issue in the latest version

[2020-01-03 10:11] #118 closed

[2020-01-07 10:08] jeblackmore commented on #118
Many thanks @waseem-h, that fixes it for me.

[2020-01-09 07:29] aure-olli opened #122 "Check for pod annotations too"
Hi

I often have troubles because I use charts that I would like to automatically reload, but they almost never allow configuring the annotations of the deployment / statefulset. However, they almost always allow to edit the annotations of the pod. Thus it would be easier if the reloader would also check the annotations of the pod (when not found on the deployment / statefulset).

Do you see any o

[2020-01-11 20:16] rasheedamir commented on #122
That might be bit tricky @aure-olli but can you please share some charts where you have seen this?

[2020-01-13 02:21] aure-olli commented on #122
This seems much easier than it sounds: in addition to check the annotations of a statefulset / deployment, check also the annotations of its templates. No need to actually look at the pods. It would basically mean adding a `TemplateAnnotationsFunc` in `callbacks.RollingUpgradeFuncs`.

I was actually thinking to make the PR, but wanted to know if it would be desired feature first. Also, if you had

[2020-01-22 15:14] hefekranz commented on #111
we just updated to 0.0.51 and are observing

[2020-02-03 20:58] rasheedamir commented on #122
@waseem-h any thoughts?

[2020-02-04 13:40] waseem-h commented on #122
@aure-olli  great suggestion. I think we should keep the existing annotations and not use new ones (For now) and basically just add a watch for pods. And then we could check whether the `ownerReference` (parent) had annotations or not. If so, then we can simply ignore the pod as its rolling upgrade is handled by the parent. Also feel free to create a PR and we could then discuss the implementation

[2020-02-14 06:32] #122 closed

[2020-02-18 17:07] rasheedamir commented on #111
@hefekranz we aren't able to reproduce the issue :(

Can you please share more information:

- k8s version
- cloud?

[2020-02-19 15:05] hefekranz commented on #111
`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.12-gke.25", GitCommit:"654de8cac69f1fc5db6f2de0b88d6d027bc15828", GitTreeState:"cle

[2020-02-29 06:56] katainaka0503 opened #127 "Prometheus endpoint to monitor Reloader's metrics"
To monitor reloader, It would be good if Reloader has prometheus endpoint and be able to fetch metrics.

In my usecase, Following metrics are wanted.

- How many times reloader tried to reload Deployments (or other resources)
- How many times reloader succeeded to reload Deployments (or other resources)
- How many times reloader failed to reload Deployments (or other resources)

[2020-02-29 19:04] rasheedamir commented on #127
awesome idea @katainaka0503 ! would you like to make a PR?

[2020-03-01 01:37] katainaka0503 commented on #127
@rasheedamir Yes! I'm trying to make a PR now!

[2020-03-06 14:11] jeremych1000 opened #129 "Only reload pods on specific environment variables"
Hi :) Been using reloader for a while and it works great, thanks.

Is there any way of setting reloader to watch on specific environment variables?

Our use case is that we have one configmap for a number of different pods, and don't want reloader reloading all pods when a value changes in the configmap which may not be related to that pod.

Currently in Helm we're using `envFrom: configMapRef: x`

[2020-03-07 08:53] rasheedamir commented on #129
I wonder why do you have one jumbo configmap? We usually don't recommend it; it kinds of kills the SRP (single responsibility principle)

At some customers we do have seen a use case where they have common configs for lots of apps; and then they do have jumbo configmaps; but then Reloader restarts all of the pods because they are common values

[2020-03-09 15:19] jeremych1000 commented on #129
We have a monorepo which houses multiple services, but they are all part of one big helmchart.

We have a backlog item to split out our big configmap into smaller configmaps (one for each service).

Can I confirm there is no way of getting Reloader to watch for specific environment variables?

[2020-03-14 21:19] williamoliveira opened #130 "Does it works for knative services?"

[2020-03-15 19:18] rasheedamir commented on #130
what do you mean @williamoliveira

[2020-03-16 13:21] williamoliveira commented on #130
I'd like to Deployments created by [Knative Services](https://knative.dev/docs/serving/getting-started-knative-app/) to also reload from ConfigMap changes. Does it already work if I just put annotations there or it'd need changes to support it?

[2020-03-17 09:29] kahootali commented on #130
@williamoliveira Yes it will work, Reloader watches Deployments or Statefulsets having Reloader related annotations, irrespective of how they are created, Closing this, if it doesn't work for you, please create a new issue and let us know.

[2020-03-17 09:29] #130 closed

[2020-03-17 09:32] kahootali commented on #129
No, Reloader can watch specific Configmaps, but not specific environment variables in any Configmap.

[2020-03-17 09:32] #129 closed

[2020-03-18 02:12] katainaka0503 commented on #127
In PR #128, prometheus endpoint was implemented.

[2020-03-18 02:12] #127 closed

[2020-03-19 11:36] gdemarcsek opened #132 "Please update your Helm chart in stable"
Hi there,

Your reloader chart in the official stable repository doesn't seem to be up to date and it doesn't seem to work with Kubernetes >= 1.16. If you are maintaining that, could you please update the chart? https://github.com/helm/charts/tree/master/stable/reloader

Thanks

[2020-03-30 09:04] kahootali commented on #132
@gdemarcsek As helm is deprecating helm/charts repo and moving towards helm hub, so we have stopped maintaining the Reloader stable helm chart, rather we maintain it in this repo.

For installing Reloader through helm chart, follow the instructions at https://github.com/stakater/Reloader#helm-charts

And if you want to take a look at the chart templates, you can find at https://github.com/stakater

[2020-03-30 09:04] #132 closed

[2020-04-21 17:05] techdragon opened #134 "Correct documentation for in repo helm chart"
Since this has transitioned to using an _in repo_ helm chart, the helm chart documentation should be checked, and documented. The current helm chart in this repo, seems to be built from several layers of templating which makes it harder to understand, and the correctness of this documentation all the more essential.

- The last Helm Stable repo version had the appropriate section documenting the h

[2020-04-24 18:11] slimm609 opened #135 "don't terminate pod on update"
using a rolling restart of the pods would be better than terminating the pods and if they are serving web traffic,  it can cause issues.    following the deployment strategy for restarts would be ideal.   e.g. rolling restart, etc

[2020-04-24 18:14] rasheedamir commented on #134
@techdragon PR is more than welcome; please create one

[2020-04-24 18:54] faizanahmad055 commented on #135
Can you explain your scenario a bit? Reloader doesn't terminate the pods. It doesn't change the update strategy either. When a change is detected in a configmap or secret, reloader just updates a reloader specific environment variable in corresponding deployement/statefulset/daemonset. Then the pod restart automatically happens based on the update strategy mentioned in deployement/statefulset/daem

[2020-04-24 19:25] slimm609 commented on #135
ah ok, it seemed like it was killing the pods when I was testing it.   will continue to test and reopen if needed.

[2020-04-24 19:26] #135 closed

[2020-04-25 15:49] techdragon commented on #134
Is anyone more familiar with the project, and the templating in particular, able to confirm if the helm chart docs are still correct? I haven't even deployed the project yet myself (I came across this project while reviewing tools for a Kubernetes infrastructure overhaul) and I won't feel confident writing a PR until I've reverse engineered the templating. ( Which I may end up needing to do if thi

[2020-04-25 20:30] rasheedamir commented on #134
sure no problem @techdragon

@usamaahmadkhan can you please confirm?

[2020-04-27 05:56] usamaahmadkhan commented on #134
@techdragon There are minor changes to the [Values section](https://github.com/helm/charts/tree/master/stable/reloader#usage) in stable/reloader as compared to the in-repo chart values. The differences can be viewed on the `values.yaml` file. Kindly see the  differences in `deployments/kubernetes/chart/reloader/values.yaml` [here](https://github.com/stakater/Reloader/compare/v0.0.41...v0.0.58#diff

[2020-04-27 17:17] echoboomer opened #136 "Replaced `ReplicaSets` are not cleaned up."
Hey there - `reloader` is awesome, and I appreciate the time and effort you've placed into making it! That being said, I have noticed that when a `ConfigMap` is updated (I'm triggering `Deployments` on `ConfigMap` changes in my use case), a new `ReplicaSet` is created and the old one remains. This results in having to go through and clean up the old `ReplicaSets` manually.

The only reason I notic

[2020-04-28 08:40] usamaahmadkhan commented on #136
The number of old replicas to be held are defined by: `revisionHistoryLimit`. You can adjust the target deployment's `revisionHistoryLimit` so it doesn't keep old replicas. Close this if your question is answered.

[2020-04-28 15:00] andrusstrockiy opened #137 "feature request reload only on fields change inside annotated secret"
Is it possible to extend reloader so it will reload my pod in case no only on whole secret change but only on certain fields inside my secret ?

[2020-04-28 19:54] rasheedamir commented on #137
what is a usecase @andrusstrockiy? why would you need that?

[2020-04-30 12:21] pytimer opened #138 "Not working when deployment strategy recreate"
`Reloader` works well when deployment strategy is `rollingUpdate`, but it not work when deployment strategy is `Recreate`. I see deployment control `ReplicaSet` scale down to 0, but there no new `ReplicaSet` and pod created. Does `Reloader` support strategy is `Recreate`?

[2020-05-03 02:08] echoboomer commented on #136
Thanks.

[2020-05-03 02:08] #136 closed

[2020-05-04 21:30] andrusstrockiy commented on #137
Sorry for long reply.
Here is more detailed case.
Well i had an around 40 java microservices i.e pods and each of them had separate database schemas configured through jdbc connection string like that
[code]
which passed to container through env value of SPRING_DATASOURCE_URL from my foo-secret

Now instead of creating separate secret for each 40 pods we created one secret (foo-uber-secert) which

[2020-05-07 13:33] TomAdmz commented on #115
I ran into the same issue using kustomize, found out it was because of an empty env field on the deployment:
`    spec:
      containers:
      - env:
        image: "stakater/reloader:v0.0.58"
        imagePullPolicy: IfNotPresent
        name: reloader-reloader
        args:
      serviceAccountName: reloader-reloader`
[Deployment YAML](https://github.com/stakater/Reloader/blob/master/deployment

[2020-05-15 09:48] jrcjoro opened #139 "Reloader and Pod with initContainer problem"
My fluend-configmap does not get reloaded with initContainer?

I have this fluentd daemonset deployment:
[code]
I used /test mount above to check that configmap was changed, but Pod was not reloaded because /fluentd/etc/fluent.conf was still old version. Any help what I'm doing wrong here?

[2020-05-15 10:23] rasheedamir commented on #137
@andrusstrockiy interesting; with `uber-secret` you will have this issue

Just wondering from design perspective how to cater this feature? @faizanahmad055 any thoughts?

[2020-05-15 10:27] rasheedamir commented on #139
@jrcjoro can you plz share Reloader logs? does it detect the change in `configmap`

[2020-05-15 10:29] rasheedamir commented on #115
@TomAdmz can you make a PR please?

[2020-05-15 11:14] jrcjoro commented on #139
Sorry, my mistake, I tried to set reloader deployment only into kube-system namespace together with fluentd. Now when I changed it back to default it works:

$ kubectl logs reloader-reloader-64cdcc9557-gqx2x
time="2020-05-15T10:55:10Z" level=info msg="Environment: Kubernetes"
time="2020-05-15T10:55:10Z" level=info msg="Starting Reloader"
time="2020-05-15T10:55:10Z" level=warning msg="KUBERNETES_NA

[2020-05-15 13:33] #139 closed

[2020-05-15 15:32] faizanahmad055 commented on #137
It is achievable, but the usability might get a bit complicated. Although, the usability factor can be discussed. Since we can have a lot of secret keys inside a secret resource (same is true for configmap as well), and secret keys can have same names as well within different secret resources, it can get a bit complicated in identifying which secret key should trigger a restart in case of duplicat

[2020-05-16 12:49] andrusstrockiy commented on #137
@rasheedamir

yeah that's why i'm bothering you

Well i can supply exact  key and the name of  my uber-secret in annotation on which reloader can reference

[2020-05-17 09:15] rasheedamir commented on #137
@faizanahmad055 is it viable to implement? any issues with performance?

[2020-05-17 09:17] rasheedamir commented on #138
@faizanahmad055 does deployment strategy affect the working of Reloader?

[2020-05-17 17:31] faizanahmad055 commented on #138
Deployment strategy does not have any affect on the working of reloader. I have tested this use case as well with the recreate strategy. Reloader just updates an environment variable in deployment. The same thing can also be verified by manually updating the deployment with recreate strategy, if the pods get recreated when you have manually updated the deployment then it will work with reloader as

[2020-05-17 17:40] faizanahmad055 commented on #137
It is doable. But it is a very specific usecase, where we have to take care of lot of corner cases. (i.e. the other deployments using the same secret does not rollout an update in case a secret key is added or deleted etc.). And we also have to make sure that it is backward compatible.
If the current time cost is "n", the new time cost will be increased by a factor of "m" where "m" is the number o

[2020-05-17 17:45] faizanahmad055 commented on #138
@pytimer please see if you your pods are recreated with deployment strategy set to recreate when you manually update your deployment yourself.
Also please check reloader logs, when you test it with deployment having recreate strategy. If reloader logs shows that it has detected changes and updated the relevant deployment resource, it will work.

[2020-05-21 01:32] pytimer commented on #138
@faizanahmad055 I test again, i found Reloader can work with deployment recreate strategy. I think maybe one of pods can not deleted before, so new pod not created.

I have a question that my deployment use two configMap and secrets, when deployment created first, Reloader seems to only detect one configMap and secret changed, because `env` only have one configMap and secret variable, if i restart

[2020-05-22 07:27] faizanahmad055 commented on #138
Reloader watches all configmaps/secret for new changes or additions. So if a configmap/secret is changed or added, reloader will detect that. But it will only update the deployment if that changed/added configmap/secret is used in that deployment.

[2020-06-02 10:16] cuongnv61 opened #140 "Reloader is not working with configmap used in projected volumes"
I have a deployment using projected volumes [1], when updating configmap in that, Reloader doesn't work.

Steps to re-produce:
0. Deploy Reloader
1. Create deployment/configmap as follow:
[code]

3. Create the deployment/configmap

[code]

4. Monitor logs of Reloader, edit configmap `config` by `kubectl edit configmap config`. Save new update.

Expected:
- Reloader should restart the pod

Actual
-

[2020-06-02 10:29] faizanahmad055 commented on #140
Thank you for using Reloader. Currently, reloader does not support the project volumes but all the PRs are welcome. For now, you can achieve the pod restart by using below mentioned annotation.
[code]
Here you have to use the name of your configmap instead of `foo-configmap` as the annotation value in deployment and it should work.

[2020-06-02 10:39] cuongnv61 commented on #140
That works! Thanks for quick response @faizanahmad055 !

[2020-06-02 10:39] #140 closed

[2020-06-11 02:38] g3kr opened #143 "Detect changes to ConfigMap using reloader"
This is our setup

configmap.yml

[code]
daemonset.yml

[code]

I am running `kubectl apply -f https://raw.githubusercontent.com/stakater/Reloader/master/deployments/kubernetes/reloader.yaml` before applying the configmap and daemonset yamls. Once the pods are up and running I modified the `Path` field in the configmap to read from another file. I re-applied the configmap however i do not see the

[2020-06-11 09:18] kahootali commented on #143
You are using old apiVersion of Daemonset that Kubernetes has deprecated i.e. `apiVersion: extensions/v1beta1`, and Reloader latest versions don't support that now. You can update your apiVersion to `apiVersion: apps/v1` in your Daemoset or move to a previous version of Reloader till 0.0.41.

[2020-06-11 09:27] waseem-h commented on #143
Can you post reloader's logs? @g3kr

[2020-06-11 12:09] g3kr commented on #143
As suggested by @kahootali modified the daemonset apiVersion and still facing the same issue ```
time="2020-06-11T11:51:31Z" level=info msg="Environment: Kubernetes"
time="2020-06-11T11:51:31Z" level=info msg="Starting Reloader"
time="2020-06-11T11:51:31Z" level=warning msg="KUBERNETES_NAMESPACE is unset, will detect changes in all namespaces."
time="2020-06-11T11:51:31Z" level=info msg="Starting

[2020-06-12 05:31] g3kr commented on #143
Thank you @kahootali . Using `reloader.stakater.com/auto: "true" in the annotation instead of the specific congifmap worked.

[2020-06-12 05:31] #143 closed

[2020-06-16 13:34] Mdaftab opened #144 "failed with error Operation cannot be fulfilled"
I have deployed the reloader and using and auto-configuration in deployment.yaml but when i am editing any value or secret it's showing me the above error. also, i would like to bring to your notice that i have 2 namespace eg, develop and runner and i have deployed your application in develop namespace so if i  have configmap in develop namespace reloader is working fine but if i have configmap in

[2020-06-23 15:59] CharlieC3 opened #145 "Not all Statefulset pods are restarted"
# Problem Description
I'm using the Reloader for a few Statefulsets with the `secret.reloader.stakater.com/reload:` annotation on the Statefulset to restart the pods. When I make a change to the associated `secret` in K8s, the Reloader correctly detects the change and updates the Statefulset.

Logs from Reloader:
[code]

The `foo-sts` Statefulset manages 3 pods, but only 1 pod gets terminated/recr

[2020-06-24 15:46] faizanahmad055 commented on #145
@CharlieC3 Can you share your statefulset manifest file? Reloader just updates the stateful set after there is a change in configmap or secret. If the statefulset update is working fine and a pod is restarting as well, then it seems reloader is working fine. Please share your statefulset, your Kubernetes version, and reloader version that you are using.

[2020-06-26 13:52] CharlieC3 commented on #145
@faizanahmad055 Sure, [you can see one of the Statefulset yamls here](https://gist.github.com/CharlieC3/cc27f691a81f26c9dc149101b9ebcbc3).

**K8s server version** is `v1.14.10-gke.41`.
**Reloader image tag** is `stakater/reloader:v0.0.51`.

I don't see anything wrong in the Statefulset yaml. I would think the important piece would be the `updateStrategy` property, but that's set to `RollingUpdate`

[2020-06-27 10:25] faizanahmad055 commented on #145
@CharlieC3
Sorry I am not able to reproduce this issue at my end. I have attached a statefulset configuration below that is very similar to your config and it is working, there are 3 replicas and all are being restarted on secret/configmap change. Your statefulset config looks fine too and updateStrategy is okay too. And since you mentioned that at least one pod gets restarted, it means the reload

[2020-07-01 19:47] adityabyreddy74 commented on #144
I'm seeing the same behaviour. When you bounce the reloader pod, new instance will look for outdated pods and fire a restart signal on outdated deployments.

Reloader should re-try on failure and doesn't leave anything in outdated state.

[2020-07-11 11:49] faizanahmad055 commented on #144
Reloader doesn’t store any of the events to retry as of now, it works as a controller loop that watches the events as these occurs and acts upon them. The concurrent modification error occurs usually when more than one user/system is trying to update the resource at the same time. So it can happen when more than one reloader replicas are running or another user/system is trying to change the resou

[2020-07-17 09:07] #115 closed

[2020-07-29 17:52] intrand opened #153 "Support reloading all configmaps and secrets without injecting annotations"
Reloader seems like a really neat project. I can see using this for a number of use-cases, and have mentioned it to some friends as something for them to take a look at, as well.

So far my experience with Reloader has been excellent. It's very fast, small and simple to understand. I like it!

Unfortunately, to use it at work, we really need it to support reloading of deployments/statefulsets/daem

[2020-08-10 04:45] kahou82 opened #157 "Provide README that supports multiple configmap/secret per workload."
Suppose I have a deployment/daemonset that has more than one configmap (or secret), is it possible to reload the workload if either of the configmap (or secret) change? If so, can you give me an example? I could find it in README.

[2020-08-10 17:59] #157 closed

[2020-08-13 20:09] rasheedamir commented on #153
will it be OK/acceptable if you need to create a CR (custom resource) for everything you would like Reloader to restart?

Yeah we have a plan to add support for it;

[2020-08-13 20:10] rasheedamir commented on #145
@CharlieC3 should we close this or you still see the same issue?

[2020-08-14 13:13] CharlieC3 commented on #145
@CharlieC3 We can close this. I haven't made any significant changes on my end, but I haven't noticed this issue happening anymore. Will reopen if needed, thank you!

[2020-08-14 13:13] #145 closed

[2020-08-17 03:42] alex-vas opened #158 "README states "kubernetes >= 1.19" requirement instead of presumably "1.16""
In #106 pull request, the README has added kubernetes minimal version requirement to be 1.19 (not yet released) instead of presumably 1.16 (which is what that whole pull request about).

Could somebody confirm my guess and rectify accordingly.

[2020-08-21 15:38] paulczar opened #159 "Officially deprecate reloader helm chart in stable repo"
As we all know the public helm chart repos are being deprecated.  I see the authors here are already aware of this, and are hosting their own here.  The following should be done (I'm happy to help)

* [ ] update the stable chart as deprecated
* [ ] add the official chart repo to hub.helm.sh
* [x] add the official chart repo to artifacthub.io

[2020-08-25 14:47] rjshrjndrn opened #160 "Restart on configmap or secret only"
Hi,
Is there any way to restart on either configmap or secret ?
I know that I can use configmap/secret name, but that won't be feesible if I want to restart on all mounted secrets?
for example,
I've one nginx chart, where our users can have multiple ssls and for all ssl change, we want to restart the container. And we can't specify the SSL name, as it unknown till they create the chart.

[2020-09-04 13:14] edscadding opened #163 "Unwanted upgrade on initial deployment"
Hi, great tool – thanks for making it available!

I've found that if a config-map is created immediately before a deployment, Reloader will upgrade the deployment unnecessarily. This might be ok for many deployments, but unfortunately is resulting in the creation of a duplicate replica-set for mine (and there are other reasons this might be undesirable for me too).

I wonder if it would be possibl

[2020-09-04 13:24] edscadding opened #164 "Namespaces to include"
Currently I believe Reloader only supports the exclusion of namespaces, using the `--namespaces-to-ignore` flag.

Some users (hello! 🙂) may find it easier / more appropriate to specify inclusion rather than exclusion, e.g. via `--namespaces` or `--namespaces-to-include`. Definitely helpful when using a shared cluster!

It's possible to achieve similar by configuring the annotations used, but Reloa

[2020-09-10 12:15] goober commented on #164
Related to the same question, what possibilities does reloader have to only watch namespaces that the service account has correct access to through RBAC settings?

[2020-09-22 23:48] pravege opened #166 "Multiple pods recreated when reloader pod was recreated, without any change to configmap/secrets"
In one of the production and pre-production environment, we have faced an issue on one of the k8s worker node that it was not able to update the status to the master and hence went to not ready state. At this time the reloader pod was deleted from this host which went to not ready state and got created on a healthy server. The newly created reloader detected changes to the config maps and secrets

[2020-09-29 15:29] rafaeljesus commented on #166
I am also facing the same problem. I added reloader for existing secrets + services and they all got restarted, I definitely this is not ideal for production workloads

[2020-09-29 19:21] rafaeljesus commented on #166
I guess reloader shouldn't do any action during the startup?

[2020-09-29 21:11] pravege commented on #166
As per our understanding the reloader should check the sha1 hash of configmap/secrets against the one that is stored as an env in every pod that uses the configmap/secrets.  So if there is no change in the configmap/secrets, the hash should not be detected as changed by the reloader and should not do anything to the pod.

[2020-10-08 11:54] daguilarv opened #167 "Add kubernetes probes support"
It would be nice to include k8s liveness and readiness probes support.

[2020-10-16 08:27] rajurh opened #169 "linting fails due to deprecated rbac api version"
Running helm lint fails with the following error:

![image](https://user-images.githubusercontent.com/15551296/96234668-3aee4f80-0ff6-11eb-867a-b61424c730cf.png)

Helm version
![image](https://user-images.githubusercontent.com/15551296/96234726-4e011f80-0ff6-11eb-876c-a8a4e2540f59.png)

[2020-10-19 08:58] faizanahmad055 commented on #169
Thank you for the info. The fix is available at #170

[2020-10-19 09:15] faizanahmad055 commented on #167
it's indeed a nice idea. Would you be able to open a pull request for this?

[2020-10-19 09:16] faizanahmad055 commented on #166
Thank you for the info. We will check it out and update soon.

[2020-10-19 22:10] prakharrr opened #171 "Support for non-mounted secrets in different namespaces"
Hey Team,
I have a use case where I need to reload a pod based on 2 secrets one of which is not mounted on the pod that I'm trying to reload.

[2020-10-21 14:37] Klohto opened #173 "Upgrade from Helm Chart 0.0.71 to 0.0.72 fails"
Due to the upgrade of ClusterRole and ClusterRoleBindings in #170, Helm will raise a conflict issue as the CR and CRB are not properly annotated and labeled to support **Helm3** (I suppose this issue doesn't affect Helm2) as described in https://github.com/helm/charts/blob/master/REVIEW_GUIDELINES.md#names-and-labels.

`
Error: UPGRADE FAILED: rendered manifests contain a resource that already exi

[2020-10-21 14:53] faizanahmad055 commented on #173
Thank you for your valuable input. We will take a look.

[2020-10-21 18:02] smartaquarius10 opened #174 "What is the max amount of resources required?"
Hello,

In my environment, it is mandatory to add request and limits details for resources(ram and cpu).

Can anyone share the resource related details as they are not specified in the yaml.

Thank you

[2020-10-22 14:13] rehbergtr commented on #164
Since we're using quite a big shared OpenShift cluster this would be interesting for us as well.

[2020-10-25 07:59] rasheedamir commented on #174
Reloader is not at all resource hog and also there is no one size fits all; at lots of our customers clusters we have set these requests:

[code]

[2020-10-25 08:01] rasheedamir commented on #171
@prakharrr can you plz explain what do you mean by not-mounted?

[2020-10-25 08:06] rasheedamir commented on #164
if it doesn't have valid RBAC to take actions then it will log

[2020-10-25 08:08] rasheedamir commented on #163
@edscadding very interesting finding and we must have a solution for this

PRs are welcome

[2020-10-25 08:10] rasheedamir commented on #138
plz open new issue if still there is any confusion or discuss with us on slack @pytimer

[2020-10-25 08:10] #138 closed

[2020-10-25 08:14] rasheedamir commented on #158
@alex-vas it says `1.9` and not `1.19 `

https://github.com/stakater/Reloader/pull/106/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R24

[2020-10-25 08:14] #158 closed

[2020-10-25 08:15] rasheedamir commented on #160
interesting user @rjshrjndrn PR is very welcome

[2020-10-25 08:16] rasheedamir commented on #169
fixed by #170

[2020-10-25 08:16] #169 closed

[2020-10-25 08:18] rasheedamir commented on #159
great thanks @paulczar ; what is next required to close this ticket?

[2020-10-25 18:33] faizanahmad055 commented on #173
PR opened to fix this. #175

[2020-10-25 18:37] faizanahmad055 commented on #171
@prakharrr You can use the following annotation for the resource which uses the non-mounted secret.
[code]

[2020-10-25 20:17] faizanahmad055 commented on #160
@rjshrjndrn If the configmap/secret is being mounted at later stages of chart deployment, you can use this annotation.
[code]
This automatically restarts the pod when a mounted configmap or secret changes and you don't have to specify the name separately.

[2020-10-26 08:52] rjshrjndrn commented on #160
@faizanahmad055 Usecase is more specific. Have to choose either `Secrets` or `ConfigMap`

[2020-10-26 09:04] faizanahmad055 commented on #160
@rjshrjndrn I see, this is not yet supported. Currently, a pod can either be restarted by both secret and configmap auto-detection or you can specify the name. PRs are welcome for new changes :)

[2020-10-27 14:20] sgandon opened #176 "Use pod templates annotations instead of adding environment variable"
Using environment variable for altering the pod template and forcing the rolling upgrade is very intrusive as it injects new variables in the pods.
The suggested way as it is used by [helm](https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments) or some [tools similar](https://github.com/pusher/wave#triggering-updates) to Reloader is to leverage the pod templates annotat

[2020-10-27 14:34] faizanahmad055 commented on #176
Thank you for the suggestion. It is indeed a good approach to use annotation. We can look into bringing this in the future and in the meanwhile we welcome PRs for all the good suggestions.

[2020-10-27 15:04] Klohto commented on #173
Thank you, upgrade now works as it should! Closing

[2020-10-27 15:04] #173 closed

[2020-11-06 13:00] drwaterfall opened #177 "Missing namespace usage in helm chart templates"
Hi there,

I was wondering if it is intentional that in the Helm Chart Templates the namespace is only used on some resources (in my opinion it is missing in the `Deployment` and `ServiceAccount`). I'm willing to do a PR, if you can confirm that I'm right with my assumption.

Thanks for your answer.

[2020-11-06 13:35] drwaterfall commented on #177
Nevermind, i used `helm template` and got into trouble with missing namespace declaration in the resulting yaml. With `helm install` the `Deployment` and `ServiceAccount` are created in the correct namespace.

[2020-11-06 14:28] faizanahmad055 commented on #177
Hi, we welcome PRs. You can set the namespace by -n flag if you are installing the .yaml manifest with kubectl command. With helm you can use --namespace flag to set the namespace.

[2020-11-06 14:55] jkblume commented on #177
In retrospect I was confused by the partly explicit setting of the namespace value with {{{ .Release.Namespace }} in the templates. Thanks for the fast answer.

[2020-11-06 14:55] drwaterfall commented on #177
In retrospect I was confused by the partly explicit setting of the namespace value with {{{ .Release.Namespace }} in the templates. Thanks for the fast answer.

[2020-11-06 15:00] faizanahmad055 commented on #177
@drwaterfall If you think your question is answered, can you please close this issue?

[2020-11-06 15:15] #177 closed

[2020-11-17 15:34] JnMik commented on #176
Using the environment variables causes me headache as well.

I use Terraform and when I _terraform apply,_ it detect changes trying to revert these environment variables

[code]

And I'm not able to ignore_changes on these specific environment variables, I tried that :

[code]

But it's not working, however if I ignore all the ENV then it's fine,
[code]
but I might have other environment variables

[2020-11-17 15:50] JnMik commented on #176
I think I can workaround it by adding the  variables myself (as the first variables of the deployment resources)

[code]

and ignore these 2 firsts specifically

[code]

[2020-11-25 11:01] dilip-panwar-by opened #178 "Reloader working fine but throwing error in logs"

[2020-11-25 11:18] #178 closed

[2020-11-25 11:19] dilip-panwar-by commented on #178
NA

[2020-11-25 16:20] nerney opened #179 "Simulteous Reloads maxing out cluster resources"
Is there any way to not have the reloader try to do all the reloading simultaneously, and, instead work it's way through the list with different concurrency?

[2020-11-25 18:17] faizanahmad055 commented on #179
Currently, there is no such way. If there are concurrent events happening, the reloader will try to resolve those events concurrently as well. If you are running reloader in cluster scope, then you can try to run reloader on namespace scope where it's needed to mitigate the issue.

[2020-11-27 13:49] agniveshadhikari opened #181 "Chart repository is returning 404"
[code]

[2020-11-27 13:51] AblionGE commented on #181
The same here with the latest version (0.0.74).

[2020-11-27 13:51] yciabaud opened #182 "Broken links in helm repository"
Hello, it seems that the helm repository is providing wrong links in https://stakater.github.io/stakater-charts/index.yaml

Each entry chart url looks like https://stakater.github.io/stakater-charts/docs/reloader-v0.0.74.tgz
Whereas it should be https://stakater.github.io/stakater-charts/reloader-v0.0.74.tgz

Are you able to fix this?

[2020-11-27 14:04] faizanahmad055 commented on #182
@ahmedwaleedmalik Can you please take a look if the chart has been pushed correctly?

[2020-11-27 14:07] yciabaud commented on #182
The chart in the second url is downloadable but the first link is wrong. Previous versions are also impacted.

[2020-11-27 15:07] kahootali commented on #182
@yciabaud Can you check now, it is fixed

[2020-11-27 15:56] yciabaud commented on #182
I can confirm it is fixed now. Thanks a lot for your reactivity.

[2020-11-27 15:56] #182 closed

[2020-11-28 08:32] agniveshadhikari commented on #181
The issue got resolved, but still keeping this open to understand why it went down.

[2020-11-28 13:28] josedev-union commented on #181
The reason is the wrong path of the chart.
[code]
The chart url should be https://stakater.github.io/stakater-charts/reloader-v0.0.67.tgz.

There was a problem in a pipeline to push a new chart and merge repo index so the path changed wrongly.

Now it is fixed already.

If you have any other question, don't hesitate.

Regards.

[2020-11-28 13:53] rasheedamir commented on #176
very valuable suggestion @sgandon and @JnMik we will try to prioritise and implement it; unless anyone of you would like to create a PR

[2020-11-28 13:57] rasheedamir commented on #179
@nerney nice suggestion!

Possible options:

1. reloader per namespace
2. add support in reloader to run multiple instances in HA mode
3. add support of some sort of queuing

any other thoughts?

[2020-11-28 13:59] rasheedamir commented on #111
@hefekranz sorry for a very late follow up; I assume this works now for you? as we haven't see this issue at any other installations at the moment

[2020-12-01 09:02] dilip-panwar-by commented on #164
Is it possible to install reloader in x namespace and watch y namespace?

[2020-12-01 09:36] faizanahmad055 commented on #164
@dilip-panwar-by no, it is not possible. Currently, the reloader can watch the namespace where it is running or it can watch all the namespaces while running on cluster scope. Although, you can ignore certain namespaces if you want with ignoreNamespaces flag.

[2020-12-01 09:47] dilip-panwar-by commented on #164
@faizanahmad055 Actually, I've set the frequency to 2m so it is generating too many logs. Is there any way,  i can disable or minimize logging of reloader

[2020-12-01 10:34] faizanahmad055 commented on #164
Can you please elaborate on what do you mean by frequency and how did you set it? Regarding the logs, what kind of logs you are seeing? Reloader only prints logs which are either errors or an event and subsequent update based on that. So, if it is working properly then there might be a lot of events happening and the reloader might be performing a lot of updates as well. In that case, logs are the

[2020-12-01 10:44] dilip-panwar-by commented on #164
@faizanahmad055  Sorry for the confusion. Frequency params is not related to reloader.

[2020-12-01 11:04] rieger-jared opened #183 "Service Monitor resources not being installed through helm"
Trying to install the chart with the service monitor enabled but I'm not seeing the service monitor being created despite the value being enabled for it.

I'm running this command to test the output

I'm using helm 3 on k8s version 1.15

[code]

I did check for the `monitoring.coreos.com/v1` if it was enabled, which it is. I do already have several service monitors running in my cluster.

[code]

[2020-12-08 20:16] mboutet commented on #183
Same problem on k8s v1.18.10

[2020-12-11 19:19] rasheedamir commented on #181
@agniveshadhikari it's fixed now; if you still have any questions please let us know

[2020-12-11 19:19] #181 closed

[2020-12-11 20:31] faizanahmad055 commented on #183
To install serviceMonitor, Prometheus should be running and this flag `reloader.serviceMonitor.enabled=true` should be set.

Please verify if you have `monitoring.coreos.com` API resource available using the below command
[code]
And if you have this resource, then run this command to install the reloader with serviceMonitor
[code]

Below is a step by step guide to install all these

Install Helm
[

[2020-12-11 21:00] mboutet commented on #183
I can confirm that the `ServiceMonitor` is created, however for it to work, the `Service` must also be created which it is not by default. So one must set `reloader.service` to an non-false value (such as in OP's original example).

[2020-12-12 14:50] faizanahmad055 commented on #183
The default reloader installation is meant to just install reloader in namespace or cluster scope. But offcourse rest of the resources (i.e. serviceMonitor, service) can also be created by setting the flags or updating the values.yaml file in chart directory.
This flag can be used to create the service `--set reloader.service.port=9090`

[2020-12-15 10:51] #111 closed

[2020-12-15 10:51] hefekranz commented on #111
we switched to another setup, so I can't say anything about the current state

[2020-12-16 18:08] consult-kk opened #185 "Secrets in External Store"
Hi,
This is a useful tool for any DevOps/SRE teams managing K8S clusters and apps.
One question though, will this be able to detect changes to Secrets stored in an external store like the GoDday one or the HashiCorp Vault.
thanks,
KK

[2020-12-16 20:27] faizanahmad055 commented on #185
No, currently reloader doesn't support this, reloader can only detect secrets within the cluster. But this sounds like a really good thing to have. Would you like to open a PR for this :)

[2020-12-17 14:04] consult-kk commented on #185
I am not a Golang developer, else would have tried a few things.  But I would think this should not be too difficult since the kube api server can still provide info regarding the secrets as it will have knowledge about it. Only the data store is external. You could probably grab some event from the kube api server to achieve this.

[2021-01-08 09:01] hari819 commented on #166
@faizanahmad055 @rasheedamir  ,

we are using reloader to restart when secret changes , but due to some issue if reloader pod gets recreated , it is restrarting PODS without any change to the secret ,  could you please help me if i can control this to avoid during startup ,

Thanks,

[2021-01-11 04:36] #166 closed

[2021-01-14 07:31] Sallyan opened #188 "Reloader not work when deploy the kubernetes manifests directly"
i tried to deploy the yaml files of reloader directly, but it doesn't work.
i deployed the rendered helm chart template manifests with default values, they are the service account, clusterrole, clusterrolebinding and deployment.
Just apply these yaml files by using `kubectl apply -f ***.yaml `
**Reload can be deployed successfully and start up, but not watch the configmap changes and dont restart

[2021-01-14 07:32] Sallyan commented on #188
And helm chart works well

[2021-01-14 09:08] faizanahmad055 commented on #188
Hi, I have just tried all the YAML manifests provided above and the reloader is installed in the reloader namespace and it works. Please check or mention how you are testing it? What annotations did you use to test the reloader, you need to use appropriate annotations and when there is a change in configmap or secret then only reloader restarts a pod. If possible, please provide the deployment man

[2021-01-19 06:37] Sallyan commented on #188
@faizanahmad055  Thanks for the reply, i will try the latest version and give you the feedback.

[2021-01-20 12:57] mollonado opened #191 "Reloader v0.0.76 is not available in helm repo"
Also the v0.0.76 release was tagged in master branch on 11 Jan, the chart is still not in helm repo.

[2021-01-21 23:55] gracedo commented on #191
Same for v0.0.77, can we please get these newer chart versions published?

[2021-01-22 08:44] faizanahmad055 commented on #191
@ahmedwaleedmalik @talha0324 Can you please take a look?

[2021-01-25 17:25] gracedo commented on #191
@faizanahmad055 @ahmedwaleedmalik @talha0324 any updates here? We need the chart for a release :) thanks!

[2021-01-26 06:07] ahmedwaleedmalik commented on #191
@gracedo Apologies for the inconvenience. We are in the process of migrating the pipeline for reloader from Jenkins to Github Actions. I'll look at it right now and will post an update here when we have the chart published.

[2021-01-26 10:39] ahmedwaleedmalik opened #196 "Refactor and remove redundant items that were used to facilitate Jenkins pipelines"

[2021-01-26 11:20] ahmedwaleedmalik commented on #191
@gracedo @mollonado

Chart is published and the new release is up:
https://github.com/stakater/Reloader/releases/tag/v0.0.78

[2021-01-26 11:20] #191 closed

[2021-01-26 11:46] mollonado commented on #191
Thanks, it worked. However you've also changed your numbering scheme, dropping the "v". Is this how it will stay?

[2021-01-26 11:57] talha0324 commented on #191
Must be a mistake, I'm looking into it.

[2021-01-26 13:10] talha0324 commented on #191
Fixed

[2021-01-26 17:03] gracedo commented on #191
@ahmedwaleedmalik thank you!

[2021-01-26 17:43] gracedo commented on #191
@talha0324 BTW I'm still only just seeing the latest release v0.0.79 published, versions from 0.0.75-0.0.79 are still missing
![image](https://user-images.githubusercontent.com/5897740/105882664-c2b30500-5fba-11eb-84ab-fff8c5d30da0.png)

[2021-01-28 04:00] liansquan commented on #166
@faizanahmad055 Hi, after I upgraded the reloader from v0.0.70 to v0.0.76 in my environment, I found that the reloader behavior have changed in the following scenario:
I modified the configmap when the reloader pod was unavailable, after the reloader pod recreated:
* v0.0.70: It will trigger the corresponding resource to rollingupdate, we can see the related pods was recreated.
* v0.0.76: The corr

[2021-01-28 11:08] faizanahmad055 commented on #166
Yes, currently it is by design that we have removed reload on resource creation. Earlier, reloader used to take this as a new resource creation but this is an incorrect behavior in case of modification. And it is hard to differentiate whether a resource is valid for the creation-reload or not when reloader pod restarts. We off-crouse welcome any suggestions and open to pull requests.

[2021-01-29 03:09] liansquan commented on #166
@faizanahmad055 Thanks for your reply.

[2021-02-02 21:17] allenkwoo commented on #164
How can one configure reloader to watch the only namespace where it's running?  Thanks.

[2021-02-05 14:45] gonzalobarbitta opened #199 "Ability to annotate ServiceAccount via helm chart"
Good morning! I need to be able to associate an IAM role to the service account. Since I am adding reloader via helm, first thing I did was take a look at the chart keys. However, there's no way to provide annotations for the service account. Is this something that can be considered?
If not, I guess I would need to create a secondary service account to use. Any considerations I should have with th

[2021-02-06 13:33] faizanahmad055 commented on #199
Support for adding annotations in service-account has been added in #200. You can set the annotations in values.yaml file or by --set flag like  this
[code]

[2021-02-08 04:37] #199 closed

[2021-02-08 20:46] rasheedamir commented on #171
Please re-open if it still an issue

[2021-02-08 20:46] #171 closed

[2021-02-08 20:47] rasheedamir commented on #183
Please re-open if it is still an issue

[2021-02-08 20:47] #183 closed

[2021-02-08 20:49] rasheedamir commented on #174
Please re-open if still any questions

[2021-02-08 20:49] #174 closed

[2021-02-08 20:50] rasheedamir commented on #185
@consult-kk we are planning to add support for Hashicorp Vault!

[2021-02-08 20:51] rasheedamir commented on #188
@Sallyan is it working for you now?

[2021-02-26 16:16] corco opened #203 "Publish multi-arch docker image"
Despite having merged pull-request #186, docker images are still amd64 only.

I believe the CI build was not updated to use the new `make release_all` from the pull-request.

[2021-03-01 08:45] Sallyan commented on #188
it works. Thanks, closing the issue.

[2021-03-01 08:45] #188 closed

[2021-03-02 12:52] faizanahmad055 commented on #203
@ahmedwaleedmalik Can you please take a look at the pipeline?

[2021-03-04 12:36] ahmedwaleedmalik commented on #203
@corco
We moved to github actions for pipelines and those workflows don't consume call Makefile targets anymore. It has a step that, eventually, just executes `docker build` and `docker push`.

It'd be awesome if you can facilitate the required changes in the workflows [here](https://github.com/stakater/Reloader/tree/master/.github/workflows)

[2021-03-05 05:29] #203 closed

[2021-03-10 21:43] rwong2888 opened #207 "Failed to list Rollouts rollouts.argoproj.io"
version v0.0.84

Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.15-gke.800", GitCommit:"fa6f8f9671a3ba4b1790bac677bb72b04204e8fc", GitTreeState:"clean", BuildDate:"2020-12-21T09:19:13Z", GoVersion:"go1.13.15b4", Compiler:"gc", Platform:"linux/amd64"}

time="2021-03-10T21:40:58Z" level=error msg="Failed to list Rollouts rollouts.argoproj.io is forbidden: User \"system:servic

[2021-03-11 02:42] adeepsri opened #208 "Support for Reloader with blue/green deployment strategies option"
With Rolling update we have issue of two pods with different configmap and secret running and handling request, if we provide option for blue/green deployment strategies user will have all pods handling traffic configured with same secrets and configmaps.

[2021-03-12 11:36] stephenh1991 commented on #185
Hey 👋 I'm happy to have a go at this as we have a requirement for this and we already use reloader (great tool btw!). Do you have any ideas on a rough implementation?

[2021-03-13 15:21] corco opened #209 "Arm docker images has AMD64 binary inside"
Despite now offering multi-arch Docker images, the binary inside is always amd64. The issue is that the [Dockerfile](https://github.com/stakater/Reloader/blob/309c10f63248249343149e5e6ef997cd4fd86edc/Dockerfile#L19) forces the build to be amd64:

[code]
I would gladly setup a pull-request to fix this, but I need some guidance on the role of this Dockerfile as the recommended approach would only wo

[2021-03-15 10:16] bainilybi opened #210 "standard_init_linux.go:219: exec user process caused: exec format error"
I pull the image:docker pull stakater/reloader:v0.0.84

But It is CrashLoopBackOff, when I run it in aarch64

[2021-03-15 10:55] cjprinse commented on #210
same as #209

[2021-03-15 14:59] bainilybi commented on #210
How to deal with it?

[2021-03-15 15:05] faizanahmad055 commented on #209
The docker file is only used for building the docker image. Can you please elaborate on what changes are you thinking to add for this?

[2021-03-15 22:56] corco commented on #209
The easy way is to modify the Dockerfile as described [in the docker blog](https://www.docker.com/blog/containerize-your-go-developer-environment-part-1/). Basically, add TARGETOS/TARGETARCH arg to the Dockerfile and use them as GOOS/GOARCH. These are populated by Docker buildx.

I would note however that another method is to copy the release binary into the docker image, instead of building the b

[2021-03-16 17:05] snorlaX-sleeps commented on #207
Received the same error with `v0.0.84` and `0.0.83`
Deployed via Helm, but without enabling `argoproj.io` settings.

After trying the previous versions, `v0.0.82` of the image appears to not get the error in the logs.

Initially chose `v0.0.77` as it is what is listed in all of the resources: https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/reloader.yaml#L112

I believe it i

[2021-03-17 08:45] faizanahmad055 commented on #207
@snorlaX-sleeps @rwong2888 Can you please provide the cluster details that you have, I can try to reproduce it.

[2021-03-17 13:06] rwong2888 commented on #207
private gke cluster. v1.17.15-gke.800 @faizanahmad055

[2021-03-18 15:08] ahmedwaleedmalik commented on #209
@corco Can we close this issue now?

[2021-03-18 15:09] ahmedwaleedmalik commented on #210
@bainilybi Can you test the latest image?

[2021-03-18 15:09] #209 closed

[2021-03-18 18:12] bakintunde commented on #207
I'm getting the same error with an AKS cluster running k8s 1.16.13 @faizanahmad055. I don't have argo rollouts installed in the cluster.

[2021-03-18 18:13] snorlaX-sleeps commented on #207
`Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitTreeState:"clean", BuildDate:"2020-10-20T22:18:07Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}`

Running K8s v1.18 in EKS with managed workers

Argo is an optional, 3rd party K8s service / API

[2021-03-18 18:40] bakintunde commented on #207
Initially experienced but went away with restricting watching to a specific custom namespace

[2021-03-19 01:29] bainilybi commented on #210
The v0.0.85  is running ok now. Thanks.

[2021-03-19 01:29] #210 closed

[2021-03-20 17:44] echoboomer opened #216 "Mass reload event after Node drain."
Hello!

Big fan of this tool, thanks so much for providing it to the community. For my specific use case, I'm creating a `ConfigMap` for each of my applications that stores a hashed value based on a mounted volume - something like a Vault shared memory volume mount. Any time the upstream Vault secret changes, the `ConfigMap` value will change, this trigger a reloading via `reloader`. This pattern

[2021-03-20 18:54] hholst80 opened #217 "Prometheus reloading"
I have deployed VictoraMetrics (promethus compatible) as a Deployment with replicas=1 and I would like to reload Prometheus using Stakater/Reloader.
The problem I am running into is that VictoraMetrics will not allow the database to be re-allocated to a new pod while the old pod is still running. I cannot see a way to redeploy VM using this process, but rather I would in this case employ some kind

[2021-03-22 00:29] grv-trip commented on #207
Just encountered the same issue while trying to use Reloader on EKS. Cant seem to upgrade my existing deployments to use reloader, hit with issues like:
```unknown field "configmap.reloader.stakater.com/reload" in io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta```

on the reloader pod, I see a similar reported error above: `Failed to list Rollouts rollouts.argoproj.io is forbidden` even when I tri

[2021-03-22 10:40] faizanahmad055 commented on #217
Currently, the reloader does not have such functionality to signal the change towards the container directly. Reloader interacts with the parent resource of the pod (Deployment, Statefulset, etc.) to reload the pod. But we welcome PRs for all the enhancements :)

[2021-03-22 10:49] faizanahmad055 commented on #216
Hi, can you please describe which reloader version, which annotation, and which Kubernetes version you are using as well? Reloader only updates if there is a change/update event going on.

[2021-03-22 10:54] faizanahmad055 commented on #208
Can you please elaborate a bit on your requirement? Reloader itself doesn't control the deployment strategy of the resource being deployed/redeployed. Reloader detects the change and based on that updates the deployment/statefulset etc. How the deployment will happen is based on what deployment strategy user has mentioned in their resource. i.e. "Recreate" or "RollingUpdate". If you have some spec

[2021-03-22 11:51] eleblebici commented on #207
I had the same problem. Installed reloader with `reloader.isArgoRollouts=false` parameter and it is solved.

`helm install stakater/reloader --set reloader.isArgoRollouts=false --namespace reloader --generate-name`

[2021-03-22 12:57] echoboomer commented on #216
Sorry - that info would've been very helpful for the initial issue.

Kubernetes version is `v1.18.16-gke.500` - we run in GKE.

The tag we're using for `reloader` is `v0.0.58`.

The annotation in use is `configmap.reloader.stakater.com/reload` which references the `ConfigMap` that only gets updated when Vault data changes, so it isn't that often.

Normally `reloader` does exactly what we anticipat

[2021-03-22 13:15] faizanahmad055 commented on #216
Can you please try the latest version and see if the issue persists?

[2021-03-22 13:32] #207 closed

[2021-03-23 18:46] hholst80 commented on #217
For anyone facing the same issue this looks promising:
https://www.weave.works/blog/prometheus-configmaps-continuous-deployment/

[2021-03-25 04:27] bjethwan opened #220 "Mass rollout issue"
I have a situation wherein I've up to  3kto 4k secrets changing in an instant.
I'm using Reloader together with https://github.com/appscode/kubed.
A change in one secret is synced to all the those copied over in every k8s namespace.
I don't want all the rollout triggered at the same time.
Is there a way to throttle the rolling update of deployments across the cluster?

[2021-03-30 14:18] faizanahmad055 commented on #220
Hi, at the moment there is no queuing mechanism in the reloader. Reloader triggers the resource update as soon as the change event happens. Multiple change events at the same time can trigger multiple rollouts. If you want to throttle the rollouts per namespace, maybe try to run the reloader in namespace scope instead of cluster scope. Otherwise, we also welcome the pull requests with the new feat

[2021-03-30 14:19] faizanahmad055 commented on #216
@echoboomer did you get the chance to try the latest version?

[2021-03-30 17:19] onedr0p opened #221 "[helm] Switch from serviceMonitor to podMonitor"
Switching to a `podMonitor` prometheus operator CRD will allow for the pod to be scraped without the need for enabling the service.

[2021-04-07 21:20] sfynx opened #222 "Helm chart is not always reading `isArgoRollouts` from `reloader` scope"
It looks like the rollouts setting is not always read from the correct key, causing it to be always unset.

[2021-04-07 21:24] sfynx commented on #222
Spotted one for the OpenShift setting as well.

[2021-04-11 19:15] RichiCoder1 commented on #185
For people interested in this, unless you're married to the Vault API either https://github.com/external-secrets/kubernetes-external-secrets or https://github.com/kubernetes-sigs/secrets-store-csi-driver + https://www.vaultproject.io/docs/platform/k8s/csi might be a more robust solution that doesn't add potentially fragile/unmaintained code

[2021-04-11 19:32] faizanahmad055 commented on #222
Closing as #223  is merged

[2021-04-11 19:32] #222 closed

[2021-04-15 16:29] swong847 opened #225 "Issue installing reloader via helm/terraform"
I'm finding challenges trying to install Reloader via Terraform.  I can install the app by hand i.e. `helm install reloader --generate-name` but when I copy the raw config from the values.yaml file and paste them into my deployment.  I seem to get this error regardless;
`Error: Get "http://localhost/api/v1/namespaces/default": dial tcp 127.0.0.1:80: connect: connection refused
  on namespace.tf li

[2021-04-15 17:09] swong847 commented on #225
Solved this by including the correct provider #n00b

[2021-04-15 17:09] #225 closed

[2021-04-21 14:35] karagis opened #227 "Not injects an environment variable in deployment"
I am using AKS Kubernetes cluster 1.18.8
1. Added annotation to all my deployments
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "28"
    meta.helm.sh/release-name: connectsupplier-pkg-cpl-api-c1p-dev
    meta.helm.sh/release-namespace: development
    **reloader.stakater.com/auto: "true"**
  creationTimestamp: "2020-09-23T07:06:51Z"
  generat

[2021-04-21 14:50] faizanahmad055 commented on #227
Please describe how are you using this `connectsupplier_pkg_cpl_api_c1p_dev` secret, a snippet from your yaml manifest would be preferable? Is it volume-mount or something else?
You can also use this annotation to reload.
[code]

[2021-04-22 07:03] karagis commented on #227
Yes. It is a volume mount
![image](https://user-images.githubusercontent.com/24248762/115669172-a839bf00-a350-11eb-92e3-8194aa88036e.png)

With secret.reloader.stakater.com/reload: "connectsupplier_pkg_cpl_api_c1p_dev" result is the same. Nothing happens.

[2021-04-22 07:30] faizanahmad055 commented on #227
Are you certain that the secret is being changed and reloader annotation is in the proper place, and the reloader has access to the secret? Because with `secret.reloader.stakater.com/reload: "connectsupplier_pkg_cpl_api_c1p_dev"` annotation it should always work when secret is changed. I am not able to reproduce. Can you let me know which reloader version was working for you before? And which vers

[2021-04-22 08:30] karagis commented on #227
1. I'm certain that the secret is being changed as I did it manually and uploaded a significantly new file. Reloader annotation is in the right place
apiVersion: apps/v1
kind: Deployment
metadata:
annotations:
deployment.kubernetes.io/revision: "28"
meta.helm.sh/release-name: connectsupplier-pkg-cpl-api-c1p-dev
meta.helm.sh/release-namespace: development
**secret.reloader.stakater.com/reload: "con

[2021-04-25 21:14] faizanahmad055 commented on #227
I am not able to reproduce this issue and it seems to be working fine. As a last try, can you please paste your sample deployment and secret YAML manifests with random data and proper indentation. I can try and see if I am not missing something in your case. But for now, it seems to be working fine.

[2021-04-26 05:37] ahmedwaleedmalik commented on #221
Fixed with #228

[2021-04-26 05:37] #221 closed

[2021-04-27 06:27] kumarshreyash commented on #138
Hi @rasheedamir @faizanahmad055 ,

I have a use case where if the config map is deleted and restored ( assuming the data has changed  in both the versions ), my pod should get reloaded.

Currently in my deployment I am using :
configmap.reloader.stakater.com/reload: "config-map-name"
this is not working for the above use case.

Can you please help me in understanding if I am missing any configurat

[2021-04-27 07:22] faizanahmad055 commented on #138
@kumarshreyash This usecase is not supported currently. Reloader only supports update events on already existing configmaps and secrets. However, we welcome any kind of implementation in the form of pull requests.

[2021-04-28 05:28] rudub opened #229 "configmapRef in deployment is not reloading the changes"
I am using this `"reloader.stakater.com/auto: "true" `annotation in deployment manifest and configmap data is integrated as below in container manifest.

[code]

But updating the configmap is not getting reflected in my container environment.

[2021-04-28 06:03] faizanahmad055 commented on #229
Please provide the deployment manifest with how you are using the annotation and reloader logs when you try to update the configmap.

[2021-04-28 06:10] rudub commented on #229
Deployment Manifest:

[code]

[code]

Where I can see reloader logs?

[2021-04-28 06:33] faizanahmad055 commented on #229
You can check the logs in reloader pod

[2021-04-28 06:45] rudub commented on #229
I am not able to get any pod with a reloader name. Checked in all namespaces.
kubectl get pods --all-namespaces | grep reloader

[2021-04-28 06:57] faizanahmad055 commented on #229
Then reloader is not running. Please run the reloader and follow the readme for the installation process.

[2021-04-28 07:16] rudub commented on #229
Thank you @faizanahmad055 it worked after creating the reloader.
I should have seen the complete document, my understanding was that only adding annotations in deployment will make changes.
Thank you so much for quick response. I will close this issue.

[2021-04-28 07:16] #229 closed

[2021-04-28 11:37] kumarshreyash commented on #138
Hi @faizanahmad055  thanks for prompt reply !
Will definitely see if me and  team can work out the same and contribute to the community.

[2021-04-29 10:05] aprilito1965 opened #230 "Reloader didnt see changes in cm/secrets managed by helm chart after "helm upgrade -i ...""
Hi!

We are running reloader on Google Kubernetes Cluster.
When I update CM (that is a part of deployed helm chart) manually in kubernetes - reloader detects it and reload deployment (that is also a part of helm chart).

But when I upgrade helm chart via "helm upgrade -i ..." command (with changed CM yaml file) - reloader doesnt do any reloads, but i can see a creation timestamp in configmap info.

[2021-04-29 10:49] faizanahmad055 commented on #230
Hi, Reloader only detects when an update event happens. If helm upgrade creates a new configmap, and removes the old one, that will not be detected.

[2021-04-30 07:29] karagis commented on #227
Updated reloader version to 0.0.74 and it started to work

[2021-05-04 17:41] sfynx opened #231 "Helm: granting Rollouts Role permissions not always possible on restricted clusters when Rollouts is present"
We encountered an issue when installing Reloader into a single namespace on a cluster where we only have access to said namespace (in this case a multi-tenant OpenShift cluster). It looks like the Rollout permissions are always included in the Role when the `argoproj.io/v1alpha1` API version is present in the cluster regardless of the `reloader.isArgoRollouts` toggle, due to the `or` operation:

h

[2021-05-06 18:09] surmabck opened #232 "Argo Rollouts canaryMetadata is gone once Reloader trigger Rollout change"
Hi!

After Reloader trigger Rollout change, some of Rollout properties are gone.
To reproduce create Rollout with below spec:
[code]

then update ConfigMap. Reloader detects the change and trigger Rollout change. After change, those properties are gone:
[code]

I'm not a golang developer so I'm not sure what may cause the issue, but my guess it that rollouts in this version https://github.com/stak

[2021-05-11 19:06] jweilhammer opened #234 "Versions do not match tags since v0.0.78 and up"
Noticing that the versions for the default chart, image, and labels are still at v0.0.77, while the tag and docker images are at v0.0.89

Any reason for this?  Looks like they stop getting updated after v0.0.77.

I am specifying the chart and image as v0.0.89, any chance that this will cause outdated versions to be pulled from the v0.0.77?

See here for mismatched image version:
https://github.com

[2021-05-12 06:40] faizanahmad055 commented on #234
@ahmedwaleedmalik Could this be because of the pipeline?

[2021-05-27 03:57] shifeichen commented on #230
i also found this issue, some times ,we can't update a secret, because it will conflict with exist key, so we must recreate the secret

[2021-06-02 02:30] CoderX-Aaron opened #237 "Could you give some example about --auto-annotation"
Could you give some example about --auto-annotation

[2021-06-02 07:33] meshkat632 opened #238 "Changes in secrets not being detected when there are multiple secrets to watch."
if we have annotation like
secret.reloader.stakater.com/reload: "secret-1,secret-2"

it looks like only the changes of the first secret is getting detected. The changes for the second one is not being detected.

[2021-06-03 00:37] jessesuen commented on #232
Argo Rollouts maintainer here. Just discovered this project and was pleasantly surprised to see this had Rollout support!

I think in order to fix this issue is to avoid importing rollouts dependency into the project, and switch to using the kubernetes dynamic client and unstructured objects. This way Reloader should be compatible with any version of Rollouts.

[2021-06-04 08:37] arthurgustin opened #239 "Fix CVE-2020-29652"
Hello !
We are using stakater in our production environment and the security team pointed at 2 vulnerabilities (HIGH and MEDIUM). I don't want to fork stakater just to upgrade some dependencies, so I'm wondering if you have time to do it ?

![image-2021-06-04-10-04-28-147](https://user-images.githubusercontent.com/27814509/120772204-545df080-c520-11eb-98b0-deebc440cf1f.png)

Regards

[2021-06-04 08:49] christoph-h commented on #238
Adding some additional finding to meshkat's report:
We are deploying the reloader using the helm chart reloader-v0.0.89 (which also comes with app version 0.0.89).

We also found that when using a list of 3 entries in the `secret.reloader.stakater.com/reload` annotation, the reloading works again. So in summary:
 - `secret.reloader.stakater.com/reload`: "secret-1"      # watches 1 secret => WORKS

[2021-06-04 09:19] faizanahmad055 commented on #239
@arthurgustin Thank you for the information. You can submit a pull request that we can review.

[2021-06-04 09:34] faizanahmad055 commented on #238
Can you please share your deployment and secret config. I have tried to reproduce the issue with image: `stakater/reloader:v0.0.90`, and I cannot reproduce it. In my case, it does pick the changes for secret-2 as well. Please try the latest version and if it doesn't work then share the yaml manifests.

[2021-06-07 12:08] arthurgustin commented on #239
So I've been working on this issue for several hours, this is more complicated than I imagined.

[code]

The crypto usage comes from the k8s.io/client-go package that currently has several references of `golang.org/x/crypto` , including the version `v0.0.0-20190918160344-1fbdaa4c8d90`

I've searched in the git history of `k8s.io/client-go` the commit that updates this dependency and unfortunately

[2021-06-11 14:40] #227 closed

[2021-06-13 19:33] #232 closed

[2021-06-13 19:35] faizanahmad055 commented on #239
#236 has updated the dependency [k8s.io/client-go](https://github.com/stakater/Reloader/pull/236/files#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6R16).

[2021-06-13 19:38] faizanahmad055 commented on #238
Closing this issue for the time being, it is not reproducible on my end. @christoph-h , meshkat632 Please reopen if it is still not solved for you and provide more information and yaml manifests.

[2021-06-13 19:38] #238 closed

[2021-06-13 19:41] faizanahmad055 commented on #237
#50 adds the ability for custom annotations. You can override it by setting a flag in your values.yaml file like this

[code]
and then you can use this annotation in your deployment that you want reloader to watch `reloadme.mycompany.net/automatic: "true"` instead of the default annotation `reloader.stakater.com/auto: "true"`

[2021-06-13 19:41] #237 closed

[2021-06-13 19:42] faizanahmad055 commented on #231
@sfynx would you please like to open a PR for this.

[2021-06-13 19:44] faizanahmad055 commented on #230
Closing this issue, as the feature mentioned is currently not available. Please reopen in case of any confusion.

[2021-06-13 19:44] #230 closed

[2021-06-13 19:46] faizanahmad055 commented on #216
Closing this issue because of inactivity. Please reopen in case of further questions.

[2021-06-13 19:46] #216 closed

[2021-06-13 19:48] faizanahmad055 commented on #208
Closing this issue because of inactivity. Please reopen in case of any further questions.

[2021-06-13 19:48] #208 closed

[2021-06-13 19:48] faizanahmad055 commented on #196
@ahmedwaleedmalik is there any update on this?

[2021-06-13 20:06] faizanahmad055 commented on #163
@edscadding I am not able to reproduce this with the latest version. Closing this issue, please feel free to reopen if the issue still persists.

[2021-06-13 20:06] #163 closed

[2021-06-13 20:08] faizanahmad055 commented on #167
The chart includes livenessProbe and readinessProbe. It is not customizable at the moment. Closing this issue because of inactivity. Please feel free to reopen in case of any further question.

[2021-06-13 20:08] #167 closed

[2021-06-13 20:10] faizanahmad055 commented on #160
Closing this issue because of inactivity. Please reopen in case of any further questions.

[2021-06-13 20:10] #160 closed

[2021-06-14 10:43] voneiden commented on #173
@faizanahmad055 commit 04e19a733bf6fdbbe3a878bf6c0a6f3975300452 reverted this back to v1beta, any idea if it was it intentional? Couldn't find relevant issues.

[2021-06-14 11:05] faizanahmad055 commented on #173
@voneiden This was to support backward compatibility for the default installation. If you install the chart with helm, it has [this](https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/chart/reloader/templates/clusterrole.yaml#L2) condition to use new API version `rbac.authorization.k8s.io/v1`

[2021-06-14 13:21] edscadding commented on #163
Great, it looks like it should be solved by this (merged) PR: https://github.com/stakater/Reloader/pull/187

Thanks!

[2021-06-15 19:32] faizanahmad055 commented on #239
Closing the issue as k8s.io/client-go dependency has been updated. Please reopen the issue in case of any further questions.

[2021-06-15 19:32] #239 closed

[2021-06-15 19:33] faizanahmad055 commented on #234
Closing this issue as it has been fixed in the latest release.

[2021-06-15 19:33] #234 closed

[2021-06-18 11:06] Feder1co5oave commented on #217
Prometheus has embedded config reload. I use a sidecar container with https://hub.docker.com/r/jimmidyson/configmap-reload
that calls `/-/reload` on prometheus whenever the configmap gets updated
[code]

(you must add `--web.enable-lifecycle` to prometheus startup args).

I run Victoria with no configuration file, the scraping is done by a separate vmagent deployment, that automatically reloads th

[2021-06-24 15:27] sncodeGit opened #244 "Reload pods after redeploy secrets or configmap"
Hello!
Im trying to use reloader as follows: connect the password and login from secret from the database deployed in the cube using the helm chart (postgres-operator) as environment variables in the sub-application. However, when I redeploy the secrets (removed this secret and then applyed again), the reloader does not understand that they have changed and does not reload the pods.
Is this the ex

[2021-06-24 23:11] faizanahmad055 commented on #244
Hi, if you are deleting and then recreating a new secret, Reloader will not detect that. Currently reloader doesn't detect the new resource events. Reloader only detect changes when an existing secret is updated and then only it updates the relevant deployment resource to perform rolling update.

[2021-06-25 10:33] ArnaudRinquin opened #245 "Actual usage based `auto` mode"
If I get the `reloader.stakater.com/auto: "true"` instructions right, it relies only on the name of the Deploys vs. Config/Secrets: they have to share the secrets.

In our infrastructure, we do not have such coupling: for instance, we have:

[code]

And both `app` and `api` use the key from the same `google-api` secret. So far, we've been assigning suff like: `secret.reloader.stakater.com/reload:

[2021-06-25 11:41] sncodeGit commented on #244
Ok, I got it, thanks!
I would really like to see such functionality in this project :)
For those who may also face a similar problem I will leave a link to its solution for me: [wave](https://github.com/wave-k8s/wave)

[2021-07-09 08:26] pr0PM opened #247 "Broken link to the project in the description"
http://stakater.com/opensource/
Times out and redirects to
http://stakater.com:8080/opensource/

[2021-07-09 08:27] pr0PM commented on #247
![image](https://user-images.githubusercontent.com/44268366/125048424-89c8a180-e0bd-11eb-8672-ecedc5498e1e.png)
Here is where the link is posted no the repo.

[2021-07-09 08:40] faizanahmad055 commented on #247
@pr0PM It is working for me. Please make sure you are not using any proxy or vpn.

[2021-07-10 15:35] pr0PM commented on #247
Nope no proxy or VPN @faizanahmad055, here is the curl redirect for me
[code]
It gets stuck for me here waiting for timeout probably.

[2021-07-10 15:40] pr0PM commented on #247
Just mentioning https://stakater.com is accessible to me but not the project page https://stakater.com/opensource

[2021-07-11 18:52] davejamesmiller commented on #247
They seem to work with a trailing slash, but not without.

**Works:**
https://stakater.com/careers/
https://stakater.com/opensource/

**Doesn't work:**
https://stakater.com/careers
https://stakater.com/opensource

(If they do work for you, they may be cached - try clearing the browser cache or Ctrl+F5.)

[2021-07-15 08:41] rmannibucau opened #249 "Enable to work without cluster role but "just" a role"
In some case you don't have a cluster role but a namespace role, would be great to make reloader working in such cases since it should be able to still rollout the deployments.

[2021-07-15 17:23] faizanahmad055 commented on #249
Reloader can also be used with role instead of cluster role. When you set the flag `watchGlobally` to false, it only watches the resources deployed in its namespace

[code]
Closing the issue for now, as the functionality already exists.

[2021-07-15 17:23] #249 closed

[2021-07-16 14:42] messiahUA commented on #244
Wow, I'm really surprised about this. Just faced with the similar use-case. @sncodeGit thanks for the link!

[2021-07-16 16:58] rasheedamir commented on #244
We are planning to implement this feature within next 2 weeks

[2021-07-19 16:02] rchenzheng opened #250 "Kind pod not supported"
I have a pod created as follows which does not get restarted when the secret `k8s-ext-secret` changes.

[code]

It'd be nice if reloader would also restart pods with the annotation

[2021-07-20 11:48] kenans commented on #185
Agreed with @RichiCoder1. Wonder if there's any plan to support the Secret store CSI driver, such as the [Azure KeyVault implementation](https://github.com/Azure/secrets-store-csi-driver-provider-azure)?

[2021-07-22 14:10] messiahUA opened #252 "Reloader frequent restarts due to failed liveness probes"
I'm facing an issue with frequent restarts on v0.0.95.

Liveness endpoint (/metrics) response may sometimes be in the range of 1-5 seconds. Of course I can just increase the timeout (which is 1 second by default), but this only hides the problem. I believe there is some inefficiency in the code which affects even /metrics responses.

There are quite a lot of secrets and configmaps in the cluster,

[2021-07-22 16:34] rasheedamir commented on #252
How many exactly?

[2021-07-22 18:09] messiahUA commented on #252
979

[2021-07-28 09:12] ahmedwaleedmalik commented on #247
This issue is fixed now :) Thanks a lot for pointing it out.

[2021-07-28 09:12] #247 closed

[2021-07-30 05:56] #196 closed

[2021-07-30 06:20] #244 closed

[2021-07-30 06:49] rasheedamir commented on #244
@messiahUA @sncodeGit this has been implemented now! let us know if you guys have more feedback

[2021-07-30 07:22] messiahUA commented on #244
That's great! Will try out the new version.

[2021-07-30 07:58] faizanahmad055 commented on #185
Support for the Secret store CSI driver is indeed a good addition and we are planning to add similar in the future. We also welcome the community contributions via Pull Requests

[2021-07-30 10:11] rasheedamir commented on #252
@faizanahmad055 can you take a look?

[2021-07-30 10:13] faizanahmad055 commented on #252
@rasheedamir sure will take a look.

[2021-07-30 11:05] messiahUA commented on #244
Works for me, thanks!

[2021-07-31 15:22] rasheedamir commented on #245
very good suggestion @ArnaudRinquin! would you like to contribute a PR?

[2021-07-31 16:31] faizanahmad055 commented on #245
@ArnaudRinquin Can you please clarify your question? Reloader doesn't rely on the name Config/Secrets for auto annotation. It in fact relies on the dependencies. If your `google-api` secret is being used in your deployment as an environment variable or a volume. The auto annotation will automatically pick it and you don't have to specify the name of your secret.

[2021-07-31 16:39] faizanahmad055 commented on #231
Closing the issue, as it has been fixed.

[2021-07-31 16:39] #231 closed

[2021-08-01 23:45] funkypenguin commented on #112
We would also appreciate this feature 👍🏻

[2021-08-11 17:16] onedr0p opened #255 "Push official images to a different registry, in addition to Docker Hub"
**Is your feature request related to a problem? Please describe.**

Dockerhub rate limits

**Describe the solution you'd like**

Push reloader to an additional registry like Quay or GHCR

[2021-08-19 15:57] Yann-J commented on #153
Hey there, just chiming in as we came across a use case where we would like to apply Reloader's functionality, but we do not have access to the definitions/annotations of the apps' `Deployment` (because they are auto-generated by a third-party tool - in our case Camel-k).

Is it possible at all today to instruct Reloader to watch all pods in a namespace for instance?

[2021-08-24 10:59] angrastuti opened #256 "Update rbac version from v1beta1 to v1 for roles and rolebindings"
Require version upgrade for roles and role bindings as in version k8s 1.22 rbac.authorization.k8s.io/v1beta1 is removed .

[2021-08-24 20:33] davidshaw2018 opened #257 "Environment variable from configmapref does not trigger redeploy"
Hi, if this is an issue on my part please let me know. But I noticed that environment variables pulled from a deployed configmap do not automatically update when the value changes.

I have a deployment and an associated configmap that looks like:
[code]

As expected, whenever the data in the file_mount config key changes the deployment will redeploy with the new value. However, changing the value

[2021-08-26 07:13] BronzeDeer opened #258 "Kustomize release has not been build for over 2 years"
The deployment section of the README states that "/deployments/kubernetes" can be used as kustomize base, however the referenced manifests (in /deployments/kubernetes/manifests) have not been updated since Release 77 (at this point over 2 years ago.

This breakage seems to correspond with the changes to the CI in https://github.com/stakater/Reloader/commit/58c622eb9126db3ebefc413b1ba9d7e08312dadd#

[2021-09-16 02:12] we10710aa commented on #258
For anyone who wants a quick fix on this problem, use vanilla manifests provided in the doc
[code]

[2021-09-17 17:24] rasheedamir commented on #255
Sure @onedr0p we will look into it

[2021-09-19 12:51] sagir-ma opened #260 "Reloader restarts on runtime error: index out of range [0] with length 0"
We are facing an issue of occasional restarts with reloader v0.0.88.
It happens during a deployment of our application which includes changes in the config-map.
The config-map change was applied and the application deployment succeeded.
However, the reloader was restarted.

When running describe on the reloader pod:
State:          Running
      Started:      Sun, 19 Sep 2021 14:29:44 +0300
    La

[2021-09-19 19:37] rasheedamir commented on #260
What version of kubernetes? Do you see on all applications or only for this particular app? @sagir-ma

[2021-09-20 06:49] sagir-ma commented on #260
kubernetes version 1.18.
We are seeing it with all apps that have argo analysis as we use argo rollouts

[2021-09-20 07:41] faizanahmad055 commented on #260
Hi can you please use the latest version of reloader and report if the error still persists?

[2021-09-20 07:43] faizanahmad055 commented on #258
@talha0324 @ahmedwaleedmalik Can you please check the pipeline so it can update the `/deployments/kubernetes/manifests`

[2021-09-20 08:19] faizanahmad055 commented on #257
Hi, I think you might be missing something in your deployment. If your deployment is okay, then it should work. I have used below specs with latest version of reloader and it works

[code]

[2021-09-20 08:22] faizanahmad055 commented on #256
Hi,

If you install via helm chart in the latest k8s cluster, it should automatically have version `rbac.authorization.k8s.io/v1`. Please try and let us know if it doesn't work for you.

[2021-09-23 06:36] sagir-ma commented on #260
Hi,

After upgrading to version 0.0.99 the error doesn't appear anymore and the reloader doesn't crash.

[2021-09-23 07:01] faizanahmad055 commented on #260
As the issue doesn't appear anymore, closing the issue. Please reopen in case it happens again.

[2021-09-23 07:01] #260 closed

[2021-09-23 09:28] ledroide commented on #220
I'm experiencing a similar issue when deploying a full software stack using Kustomize : a single deployment - with reloader auto activated - generates simultaneously 2 replicaSets that can potentially conflict if we need 1 replica only.

The reason is that Kustomize sends the whole manifests ConfigMaps+Secrets+SealedSecrets+Deployments at once, so it triggers immediately a new replicaSets.

I'm no

[2021-09-23 23:34] strantalis commented on #256
Does it make sense to update those in the manifests directory? I was trying to use kustomize but ran into this issue.

[2021-09-24 05:24] angrastuti commented on #256
I was also trying with kustomize, for now I am pointing manifests to use v0.0.72 as this has upgraded rbac api .

[2021-09-24 07:13] faizanahmad055 commented on #256
Kustomize installation needs to be updated. @talha0324 Can you please check the pipeline and see that pipeline can update [manifests](https://github.com/stakater/Reloader/tree/master/deployments/kubernetes/manifests)

[2021-09-24 08:00] faizanahmad055 commented on #257
Closing this issue because of inactivity. Please reopen if you still have the issue

[2021-09-24 08:00] #257 closed

[2021-09-24 11:44] strantalis commented on #256
As a workaround you can apply patches with kustomize to resolve the issue.

[code]

[2021-09-24 18:01] ercpereda opened #261 "Helm chart doesn't allows adding security policies to the container"
In the helm chart helm is possible to modify the PodSecurityPolicy, but not the SecurityPolicy of the container.
This is necessary to comply with security good practices (Ex drop all privileges of the container, [See Kyverno's policy](https://github.com/kyverno/policies/blob/main/best-practices/require_drop_all/require_drop_all.yaml))

[2021-09-24 20:47] ksingh7 opened #262 "Ability to change reloader.securityContext.runAsUse via Helm CLI"
Hi

I am trying to deploy reloader on openshift, due toe security, reloader does not work as the defauot runAsUser ID 65534 fails, had to manually change that to a different user ID.

Can i please request to allow changing reloader.securityContext.runAsUser from Helm CLI , like below

[code]

[2021-09-27 00:54] Aenima4six2 commented on #176
Feature implemented in https://github.com/stakater/Reloader/pull/263

[2021-09-30 12:52] bygui86 opened #265 "How to define Kubernetes NetworkPolicies?"
Hi guys

this tool is amazing but I'm struggling to let it work when k8s NetworkPolicies are in place.

With ingress NetPol like following no problem:

[code]

Unfortunately with egress NetPol like following Reloader does not work anymore:

[code]

There are COMPLETELY NO LOGS so I don't really understand why.

Which connection does Reloader require? Who is Reloader talking to?

Thanks in advance

[2021-10-03 13:29] smarcu92 commented on #265
@bygui86

Can you try allowing
`
k cluster-info
`
Get the IP from "Kubernetes control plane is running at <IP_addr>"

Put that in the cidr section. Should work :).
Let me know how it goes.

P.S.
It would be nice to have this integrated in the helm chart together with the monitor allowed namespaces as apposed to ignore namespaces. :))

[2021-10-03 18:06] strantalis commented on #256
@faizanahmad055 Anything I can do to help update those manifests?

[2021-10-03 18:15] faizanahmad055 commented on #256
@strantalis thank you for the help. We have a ticket in our backlog to fix the pipeline related to this and it should be fixed soon. But if you can open a PR with the workaround for the time being that can be good :)

[2021-10-04 07:01] bygui86 commented on #265
@smarcu92 thanks for the suggestion, here below the NetworkPolicies working for me:

[code]

And here the Prometheus operator ServiceMonitor:

[code]

I suggest to add them not only in the Helm chart, but also in the plain manifests.

[2021-10-04 16:18] smarcu92 commented on #265
Hi @bygui86,

Awesome job! 👏  thanks for the manifests as well!
Just a suggestion. I'm not sure if you need the DNS setting for egress though🤔 . I would test the configuration without and see if it's working. The stricter the policy the better.

Thanks!

[2021-10-04 16:51] bygui86 commented on #265
@smarcu92 I haven't tested Reloader itself, but some other operators (Strimzi for Kafka, Prometheus, Instaclustr for Cassandra, etc) don't work without DNS-allow egress.

I noticed that, in order to communicate with the k8s api-server (and getting back the control plane IP address), an operator passes through the DNS asking to resolve a k8s Service named `kubernetes` in the `default` Namespace.
Th

[2021-10-08 10:56] ietashish opened #267 "Few CVEs found when scanning container."
**Description**
Running container scan on NMI container (stakater/reloader:v0.0.100) reveals few vulnerabilities that have not been fixed.
This is problematic since, we deploy on Azure GovCloud cluster which needs to be compliant with FedRAMP regulations that asks us to explain every un-remediated vulnerability.

Can you comment if any of these vulnerabilities are getting fixed in upcoming release

[2021-10-18 07:11] faizanahmad055 commented on #267
Hello, We will try to add this in our upcoming releases. But in the meanwhile we welcome the community contributions via pull requests :)

[2021-10-25 15:30] raffaelespazzoli opened #270 "add the ability to call a config refresh endpoint instead of triggering a rolling deployment."
some application can be informed that they need to reload their configuration by calling an endpoint.
for spring applications the standard endpoint is at `/actuator/refresh`. Refreshing properties this way is less traumatic than triggering a rolling deployment.
Also old-style unix services usually can be force to reread the configuration file on receiving SIGHUP.
Please consider adding support for

[2021-11-16 16:22] sagark23 opened #272 "Multiple pods created during first deployment when using external secrets store"
We are storing secrets in external store and using CSI secrets driver(https://github.com/Azure/secrets-store-csi-driver-provider-azure) to fetch secrets from Azure Keyvault and create kubernetes secrets object. Values updated on Keyvault trigger updates to kuberenets Secrets object which triggers reloader to restart pods. But during first deployment as the kubernetes Secret object is created by CS

[2021-11-20 00:14] mmontes-f3 commented on #272
Same problem here!

[2021-12-08 11:52] keshavprasadms opened #273 "Pod auto restart does not happen when configmap has binaryData"
If a deployment volume mount has a configmap which contains binaryData, the pod auto restart does not trigger.
Tried with `reloader.stakater.com/auto: "true"` as well as `configmap.reloader.stakater.com/reload: my-config`

Is there something I am missing or `binaryData` configmaps are not supported?

[2021-12-08 14:04] faizanahmad055 commented on #273
Hi,

Can you please share a sample configmap and deployment that you are using to test this?

[2021-12-08 16:01] keshavprasadms commented on #273
Hi @faizanahmad055
I was able to get this working. Previously I was using `v0.0.49` version.  Changed this to `v0.0.103` and everything is good. Thank you.

[2021-12-08 16:01] #273 closed

[2021-12-08 21:05] stevegszabo commented on #272
I experience the same issue, initial secret creation seems to trigger the rollout

[2021-12-08 22:41] faizanahmad055 commented on #272
Hi, I will check it out. It is happening because of restarting the pod if a secret is recreated. If it is the case then I can look into making this behavior optional. Other solutions are also welcome :)

[2021-12-10 15:33] nazarewk commented on #272
Maybe you could "debounce" the restart? By debounce I mean wait until X seconds have passed since last observed update before triggering deployment.

[2021-12-10 15:44] nazarewk commented on #272
Oh, i think i understand what is going on:
1. Plain deployment is registered in Kubernetes triggering first set of Pods
2. Reloader modifies the Deployment by adding annotations resulting in second set of Pods

Reloader would have to be implemented as a Mutating Webhook, modifying the `Deployment` before it is stored in Kubernetes for the first time.

[2021-12-14 09:01] nazarewk opened #274 "Ability to temporarily pause the Reloader?"
It would be great to pause the reloading logic for a selected workloads, for example:

1. add `reloader.stakater.com/pause: "true"` to `Namespace` to stop reloading the whole namespace
2. add `reloader.stakater.com/pause: "true"` to workload to stop reloading the specific workload
3. add `reloader.stakater.com.pause: "true"` to `Secret`/`ConfigMap` to not trigger reloads from specific configs

[2021-12-14 09:25] nazarewk opened #275 "Reloader does not detect changes with watchGlobally: false / --namespace XXX"
I have tried running Reloader only in the namespace it is deployed in by:
1. deploying chart with `watchGlobally: false`, the Reloader was deployed properly as i could see `--namespace nazarewk-poc` in the `Deployment`/`Pod` definitions.
2. annotating my `Deployment` with `reloader.stakater.com/search: "true"`
3. annotating my `Secret` with `reloader.stakater.com/match: "true"`

Then there was not

[2021-12-14 09:37] faizanahmad055 commented on #275
Hi @nazarewk Can you please share the configuration that you used to test this. Please note that, with watch globally set to false, the reloader only detect changes in the namespace it is deployed in so you need to run your deployment in the same namespace.

[2021-12-15 20:07] liorfranko commented on #260
Hi

I'm having the same issue in version 0.0.103
[code]

[2021-12-15 20:10] liorfranko opened #276 "Reloader restarts on runtime error: index out of range [0] with length 0 - following #260"
Hi

I'm having the same issue in version 0.0.103
[code]

kubectl version --short
Client Version: v1.18.9-eks-d1db3c
Server Version: v1.19.13-eks-8df270

[2021-12-15 20:10] #276 closed

[2021-12-15 20:11] liorfranko commented on #260
Hi

I'm having the same issue in version 0.0.103
[code]

kubectl version --short
Client Version: v1.18.9-eks-d1db3c
Server Version: v1.19.13-eks-8df270

[2021-12-21 07:56] abdidarmawan007 opened #277 "Issue with GKE 1.22.3-gke.1500"
i try use reloader with GKE 1.22.3-gke.1500  have issue apply deployment with annotations
**_configmap.reloader.stakater.com/reload: "production-abdi-configmap"_**
[code]

step install
[code]

deployment.yaml
[code]

configmap.yaml
[code]

[2021-12-21 08:04] abdidarmawan007 commented on #277
already fix, put annotations under labels
[code]

[2021-12-21 08:04] #277 closed

[2021-12-21 08:16] abdidarmawan007 commented on #277
Reloader working perfect with latest Google Kubernetes Engine 1.22.3-gke.1500

[2021-12-23 01:31] elia-netroadshow opened #278 "Missing namespace in deployment manifest"
https://github.com/stakater/Reloader/blob/bcbaad84953586196eb7b36956f23d10b8c69bc8/deployments/kubernetes/chart/reloader/templates/deployment.yaml#L18

Missing something like:
  namespace: {{ .Release.Namespace }}

This means that when using kustomize.yml with the helmCharts feature, I cant override the namespace properly.  The deployment goes under the default namespace.

[2021-12-27 02:18] xzycn opened #279 "[Feature Suggestion] Add delay for reloading"
Hi, thank you for your great project.
I have a  scenario：we will update configmap many times in a short time，this leads to that we will see many rolling updates going on one by one.
So, can we set a delay time for a reloading?
Thx in advance :)

[2022-01-02 13:35] #278 closed

[2022-01-10 13:29] strainovic commented on #279
We faced the same issue when doing the initial deployment. If we deploy reloader first, other deployments will be restarted two or more times. If we deploy reloader after all other services got deployed, all services will restart.

I think we should have some delay before the reloader trigger restart.

[2022-01-11 12:18] tcolgate commented on #250
How would a pod be restarted? Updating the pod definition doesn't cause a restart. There's no mechanism to cause a pod to restart, only the decision to "restart" a container if it dies. There no mechanism (that I've seen), to kill a container. So you'd either need to support hitting a webhook on a container, or add a sidecar in the same process namespace that could kill/HUP it (or add support to k

[2022-01-11 22:26] Meshl-555 commented on #185
لا ي قلبي كل شيء طلعته انصدمت مرة مرة ماتوقعتكم كذا !

[2022-01-12 14:42] smozhevskiiEPAM commented on #163
Hi!
We have the same issue as described in the 1st pos with `v0.0.104` version:
Creating a new secret and deployment with `secret.reloader.stakater.com/reload: mysecret` annotation causes an immediately update of deployment with log message like a :
[code]
Is it possible that it became broken?

[2022-01-15 04:09] abdidarmawan007 commented on #220
maybe we can use simple queuing task with redis-server

[2022-01-17 12:09] andrelcz commented on #270
Hello,
Second that. Is it possible to implement such functionality?

[2022-01-18 12:36] pidj opened #284 "Ability to blacklist/exclude some config resources from watched ones?"
Hello,

I just discovered the Reloader project and it seems very interesting ! Including for my work :-)

I was wondering if a feature exists, as I have the impression it doesn't for now.
The "configmap.reloader.stakater.com/reload" annotation allows a whitelisting mechanism (so to only watch a known-in-advance list of config resources). In our case, I would be very interested by the ability to ha

[2022-01-18 14:13] smuda commented on #284
I'm not a maintainer, but my understanding is that if you don't want to use the "auto" method, you use `reloader.stakater.com/search: "true"` on the deployment and `reloader.stakater.com/match: "true"` on the configmap or secret you want to monitor.

[2022-01-18 14:51] pidj commented on #284
Thanks for the answer :-)
Actually, I would need a blacklisting mechanism, i.e. not require to add annotations on all the existing CMs/Secrets (because we don't have the ownership on all those CMs/Secrets). Having to add the 'reloader.stakater.com/match: "true"' annotation corresponds to a whitelisting approach which I need to avoid.
However, if there is a way to tell Reloader that "match=true" is

[2022-01-18 21:39] smuda commented on #267
It's seems many of the CVE's comes from dependency argoproj/argo-rollouts which in turn is from the k8s.io/kubernetes project with dependencies. I've created a PR to update those deps: https://github.com/argoproj/argo-rollouts/pull/1785

[2022-01-21 16:10] salecharohit commented on #185
Totaly agree with @RichiCoder1 to have some support for https://github.com/kubernetes-sigs/secrets-store-csi-driver as the secrets-store-csi-driver , when implemented with secrets sync functionality it syncs using a CRD like below
[code]

Hence using Reloader we have no way to tag/annotate the specific secret. So in addition to configmaps and secrets if you could add `SecretProviderClass` it'll be

[2022-01-27 21:24] Coder63 opened #285 "How to use configmap in different namespaces"
Hi team , I have a question on how to use configmap in different namespaces..

namespace: foo , foo-configmap
namespace:bar , Deployment A should restart in case  foo/foo-configmap changes..

I tried this and it did not work..

`configmap.reloader.stakater.com/reload: 'a-config , foo/foo-configmap'`

[2022-01-28 01:38] smuda commented on #285
(I'm not a maintainer)
Have a look at the [readme.md](https://github.com/stakater/Reloader), it explains pretty well how to use reloader.

Personally, I mostly use following annotation:
[code]

[2022-01-28 02:50] Coder63 commented on #285
thanks @smuda . My usecase is more specific[ about this](https://github.com/stakater/Reloader#configmap) and configmap is in different namespace which is not mounted or added as env variable...

Well, I used [reflector](https://github.com/emberstack/kubernetes-reflector) to reflect the configmap in required namespace and use it instead.

`configmap.reloader.stakater.com/reload: 'a-config ,foo-conf

[2022-01-28 08:50] smuda commented on #285
@Coder63 I see! Seems like a cool use case.

[2022-01-28 08:58] faizanahmad055 commented on #285
You can run reloader globally which watches all namespaces and then use this annotation
`configmap.reloader.stakater.com/reload: "foo-configmap,bar-configmap,baz-configmap"`

[2022-02-02 12:02] alin-t opened #286 "Critical security vulnerability caused by golang version - CVE-2021-38297"
Go before 1.16.9 and 1.17.x before 1.17.2 has a Buffer Overflow via large arguments in a function invocation from a WASM module, when GOARCH=wasm GOOS=js is used.

Ref: https://nvd.nist.gov/vuln/detail/CVE-2021-38297

[2022-02-06 16:07] rasheedamir commented on #286
@alin-t would you like to make PR?

[2022-02-08 12:30] realulim opened #287 "Upgrade is not rolling, but immediate"
I have a single node K3s cluster with three pods (one replica each) and when I change a configmap (via kubectl edit configmap), then the three pods are restarted, but the old pods are terminated immediately and there is a service disruption (502 Bad Gateway) until the new pods are up.
Could this have to do with the fact that I have no readiness or liveness checks in my deployments? If yes, then pe

[2022-02-08 21:47] usamaahmadkhan commented on #287
Can u plz share the Deployment manifest?

[2022-02-09 09:12] realulim commented on #287
Your question led me down the right path: I did not specify "maxSurge" and "maxUnavailable" in my deployment manifest. The defaults for both are apparently 1, meaning that 1 node can be unavailable during rolling updates. This does not make much sense if you have only 1 replica as in my case. I'm not sure when "can" be unavailable results in "will" be unavailable, but in my case it did. So I chang

[2022-02-10 12:08] fstaudt opened #288 "Optional imagePullSecret configurable in deployment"
In deployment template of helm chart, it is possible to overwrite the image name with property `reloader.deployment.image.name`.

I'd like to use this option to load docker image for our own docker registry instead of dockerhub (to avoid pull rate limit).

To do so, I would however need the ability to set imagePullSecret in deployment:
[code]

I was thinking of adding an optional property `reloade

[2022-02-10 12:41] ctschubel opened #289 "Helm-chart replica configuration."
Hi,
I would like to disable the reloader application if not needed on my cluster, therefore it would be nice if I could just scale the app to 0 Replicas.

It would be nice if replicas could be added to the config values.

[2022-02-10 14:47] ctschubel commented on #289
#290

[2022-02-13 12:08] #289 closed

[2022-02-13 19:54] faizanahmad055 commented on #287
Closing the issue for now. Please reopen it if need.

[2022-02-13 19:54] #287 closed

[2022-02-13 19:55] faizanahmad055 commented on #288
@fstaudt Yes, that would be really great. Can you please open the PR

[2022-02-13 19:56] faizanahmad055 commented on #285
Closing the issue for now because of inactivity. Please reopen if it is needed.

[2022-02-13 19:56] #285 closed

[2022-02-13 19:59] faizanahmad055 commented on #275
Closing the issue because of inactivity. Please reopen, if it is still valid

[2022-02-13 19:59] #275 closed

[2022-02-14 14:51] utkuozdemir commented on #112
A simple leader election implementation would be great: https://itnext.io/leader-election-in-kubernetes-using-client-go-a19cbe7a9a85

[2022-02-27 18:32] faizanahmad055 commented on #286
#291 has fixed this. Closing the issue, please reopen if it still exists.

[2022-02-27 18:32] #286 closed

[2022-02-27 18:37] faizanahmad055 commented on #272
#291 should fix this issue. Closing this, please reopen if the issue persists.

[2022-02-27 18:37] #272 closed

[2022-02-27 18:37] faizanahmad055 commented on #176
Closing this issue as it has been implemented.

[2022-02-27 18:37] #176 closed

[2022-02-27 18:40] faizanahmad055 commented on #245
Closing this issue because of inactivity. Please reopen if there is a need.

[2022-02-27 18:40] #245 closed

[2022-02-27 18:43] faizanahmad055 commented on #256
Closing this issue as it has been implemented. Please reopen if required

[2022-02-27 18:43] #256 closed

[2022-02-27 18:50] #261 closed

[2022-02-27 18:54] faizanahmad055 commented on #262
@ksingh7 you should be able to set this with helm as this is an overridable variable. Please see [here](https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/chart/reloader/values.yaml#L44). If this issue still persists for you, please reopen this issue and describe the error that you receive when trying to set the attribute.

[2022-02-27 18:54] #262 closed

[2022-02-27 20:56] snarlysodboxer commented on #279
Same problem. Initial deployment of apps (with reloader already running in the cluster) causes immediate update of the deployment, causing a new replicaSet. Meanwhile the deployment controller continues to try to rollout the first replicaSet, causing uncomfortable delays in short-lived ephemeral environments.

[2022-02-28 08:07] faizanahmad055 commented on #279
@snarlysodboxer this should be fixed now with the latest version. Please try and update if you still see the issue.

[2022-02-28 21:04] strainovic commented on #279
Hi @faizanahmad055,

Is it related to `reloadOnCreate` new variable? Should we set it to true as it is false by default?

[2022-02-28 22:56] faizanahmad055 commented on #279
It is set to false by default. You don't have to set it unless you want to reload if there is a new secret/configmap is added. There is a known issue at the moment where if reload on a create event or reload on the new resource is enabled then reloader also tries to reload when the deployment is first time create/deployed. This is because currently there is no way of distinguishing which new resou

[2022-03-02 12:56] alin-taranu opened #293 "Critical vulnerabilities found in go 1.17.2"
The following CVEs were found in go 1.17.2:

CVE-2022-23806
CVE-2022-23772
CVE-2021-44717
CVE-2022-23773
CVE-2021-44716
CVE-2021-41771
CVE-2021-41772

This PR: https://github.com/stakater/Reloader/pull/292 might fix the issues.

[2022-03-03 07:01] usamaahmadkhan commented on #293
fixed by #292

[2022-03-03 07:01] #293 closed

[2022-03-06 14:12] ericmeadows commented on #185
We use [https://github.com/external-secrets/kubernetes-external-secrets](https://github.com/external-secrets/kubernetes-external-secrets) and it works great

[2022-03-06 14:14] ericmeadows commented on #255
@onedr0p - this is avoidable when using[Harbor](https://goharbor.io).  Let me know if you want help - I'm more than happy to run you through how we do it with every images during our CI/CD we're open-sourcing here at Plumbr.ai

[2022-03-06 14:17] onedr0p commented on #255
I know the ways to implement a pull thru cache but using ghcr would alleviate the need for it.

[2022-03-15 18:05] azeemkhan0917 opened #294 "Reloader is not starting the stateful set pods"
Hi,
I am trying to use reloader to restart my StatefulSet Pods, on a Kubernetes secret change. One thing to highlight here is that I am using the RolloutStrategy to be Delete. I see that the secret is being updated, however I don't see the rollout / restart happening for the same. Here is the StatefulSet Yaml for reference
[code]

[2022-03-15 18:16] faizanahmad055 commented on #294
You need to have the `RollingUpdate` strategy. OnDelete prevents the controller from automatically updating its pods. One needs to delete the pod manually for the changes to take effect.
https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies
Please change it and try again and then close the issue. Also, reloader does not control how the statefulset restarts the po

[2022-03-16 09:22] stuartm21 opened #295 "Does Reloader support Kubernetes Jobs"
We have some secrets and that secret will automatically update by another our apps. So we are looking to run a k8s job when the secret got updated.

[2022-03-16 09:25] faizanahmad055 commented on #295
Currently, Reloader does not support Jobs, but we welcome the contributions via pull requests :)

[2022-03-16 09:26] faizanahmad055 commented on #294
@azeemkhan0917 Can you please update here or close the issue :)

[2022-03-16 13:01] #294 closed

[2022-03-16 19:59] fstaudt commented on #288
After a closer look to the helm chart, I noticed that imagePullSecrets can already be defined in the serviceAccount used by the deployment, using property `global.imagePullSecrets`in values.yaml.

[code]

There is thus no added value to configure it again in the deployment.

[2022-03-21 20:52] karl-johan-grahn commented on #255
See https://github.com/stakater/Reloader/pull/298

[2022-03-25 15:09] llavaud opened #299 "reload-on-create trigger rollingupdate of all deployments if Reloader pod restart"
If I start Reloader with the "**--reload-on-create=true**" argument, everytime reloader pod is restarted it triggers a rolling update of all deployment that are "managed" by Reloader.

Example of Reloader logs after a restart:

[code]

I don't think it is an expected behaviour.

[2022-04-01 12:23] nazarewk commented on #279
I'd love such a feature (i remember it being called [`debounce`](https://www.freecodecamp.org/news/javascript-debounce-example/)) to delay execution for X seconds after the last event was detected

[2022-04-04 14:45] AssafKatz3 opened #300 "Automatic reload without set annotation on deployment"
Hi,
I have a lot of HELM charts that contain the deployments and one HELM chart that contains the ConfigMaps. Is there any option to cause Reloader to reload all deployments which use the relevant config maps without modify these deployments?
Thanks

[2022-04-04 19:09] faizanahmad055 commented on #300
Hi,

you need to add this annotation in the deployments to get that deployment to reload, and it will automatically detect the configmaps that are mounted or used as envs, there is no other way around it.

[code]

Please let me know if this answers your question.

[2022-04-05 05:52] AssafKatz3 commented on #300
Hi,
I want to avoid adding this annotation :-(
Thanks

[2022-04-05 08:03] faizanahmad055 commented on #300
Then there is no way of achieving this as the reloader will not know which deployment to reload. Closing this issue as it is not in the scope of how reloader works. Please reopen it if there is a need to discuss it further.

[2022-04-05 08:03] #300 closed

[2022-04-17 18:05] Ashi-1 opened #301 "Reloader v/s Automatically updation of statefulset for a mounted configmap."
Pros and cons of reloader over automatically updation of statefulset for a mounted configmap.
   [https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically](url)

[2022-04-20 12:48] ffilippopoulos commented on #164
Hi, is there any update on this one? We want to have a single Reloader deployment but avoid giving full access to all secrets in a cluster (which effectively makes it a cluster admin). Ideally we need a way for namespaces to opt-in to Reloader and use a RoleBinding to allow the operator access secrets under the namespace. Trying that approach with the latest Reloader version produces the following

[2022-04-21 12:29] faizanahmad055 commented on #164
@ffilippopoulos Currently we can ignore certain namespaces but we don't have the functionality to include namespaces at the moment. But we definitely welcome all the contributions in the form of PR.

[2022-05-10 18:07] snarlysodboxer commented on #279
@faizanahmad055 You're right, the problem of immediate update of deployments upon initial apply of them is fixed in v0.0.110. Thanks!

[2022-05-12 13:19] martin-jeremic opened #302 "Raise alert on secret change, without actual restart"
Hi, is it possible to raise some kind of alert without actual restart of pods?

I have an issue when my secrets sometimes change by itself, and Reloader looks like tool which would help me track this, but  restarting would cause my application to crash and i don't want this to happen :)

[2022-05-12 20:00] faizanahmad055 commented on #302
Hi,

Reloader doesn't support this and probably won't support this in the future. As the name suggests, the purpose of the reloader is to restart the applications based on the change.

So I am closing this as an unrelated issue but please reopen it if you think it is related and something can be done about it.

[2022-05-12 20:00] #302 closed

[2022-05-17 07:28] LO764640 commented on #185
Hi Has this been implemented yet ?

[2022-05-22 09:11] tomikonio opened #303 "[Security] Secret Data Access"
Hi,
Is there a way to prevent reloader from accessing the **data** field of secrets?

Thanks.

[2022-05-22 10:44] faizanahmad055 commented on #303
Hi,

No, there is no way to prevent reloader access to the data of secrets. This is not a bug but an intentional design to check the data and compare it with the previous data to see if there was some change and reload the pod if there was a change. I am going to mark this as a non-issue but please re-open the issue if you have any more concerns.

[2022-05-22 10:44] #303 closed

[2022-05-25 06:25] tuladhar opened #305 "Broken Link in Projects About"
The following link in project's About section is broken.
* https://stakater.com/opensource

![image](https://user-images.githubusercontent.com/5674762/170194334-8958188b-1288-4e05-9787-83d646f796be.png)

[2022-05-31 04:11] rishindra-singh opened #313 "reloader is not restarting pod when configmap is updated"
I have made below changes in my configMap and deployment.yaml file respectively to restart pod whenever configmap gets updated.
But my pod is not getting restarted when i update my configmap.
-----------------------
kind: ConfigMap
metadata:
  name: frontend-conf
  annotations:
    reloader.stakater.com/match: "true"
  namespace: test-ns
--------------------------
kind: Deployment
metadata:
  name

[2022-05-31 20:19] scottd018 opened #315 "Upgrade Go version and crypto package to address CVE vulnerabilities"
In attempting to use this project for a government FedRamp certification, the following vulnerabilities have been found (along with recommended fixes).  The following was found via a Palo Alto Prisma Cloud (Twistlock) scan of the container images:

- ~~Go Version 1.17.7 (**upgrade to go version 1.17.9 or 1.18.1**):~~
  - https://nvd.nist.gov/vuln/detail/CVE-2022-28327
  - https://nvd.nist.gov/vuln

[2022-06-07 08:46] magmax opened #317 "Allow to skip a resource by annotations."
Sometimes there is just one or two resources (cm/secrets) that require to be ignored, so annotating all of them to match can be harder than just marking the ones to be skipped.

Real example: jenkins has a configmap for JCasC (Jenkins Configuration As Code) managed by a configmap and reloaded automatically, but any other configmap/service should fire reloader to restart pods.

[2022-06-08 17:52] sn-asownie commented on #313
I would like to second this, i can share any relevant information if that would help.

[2022-06-10 10:07] vinzent commented on #270
Calling a HTTP endpoint is possible by this widely used image: https://github.com/jimmidyson/configmap-reload . Needs to run inside your pod. it doesnt implement signalling (SIHUP) a process.

[2022-06-16 13:33] stolosgroup opened #319 "Unable to create Kubernetes client permission denied"
KubeVesrion 1.17.14-gke.1600

Error: level=fatal msg="Unable to create Kubernetes client error = open /var/run/secrets/kubernetes.io/serviceaccount/token: permission denied

Tried with latest version of yaml

[2022-06-16 14:00] #319 closed

[2022-06-18 14:32] AnuragEkkati opened #320 "Reloader Reporting and Alerting"
Reloader as of today from what I understand doesn't report which deployment/statefulset/daemonset has been reloaded by it and what event ( secret/configmap ) triggered it.

Also it will be really awesome if we have a simple webhook which we can enable to alert when the reloader did its job of reloading and provide info related to that

/kind feature

[2022-06-18 14:32] AnuragEkkati commented on #320
Can i work on this feature ?

[2022-06-18 20:12] rasheedamir commented on #320
@faizanahmad055 what do you think? Would be nice to add this feature I believe

[2022-06-18 20:14] rasheedamir commented on #313
@sn-asownie @rishindra-singh can you please share the version of kubernetes and reloader?

[2022-06-18 20:31] faizanahmad055 commented on #320
@AnuragEkkati Thank you, it is a good feature and you are welcome to work on it. But I think we should make alerting optional because depending on the number of reloads happening, it can easily cluster the alerting channels. Currently, it does show you information about what deployment and secret/configmap got updated in the logs. But it doesn't show the content that was updated because of securit

[2022-06-18 20:48] faizanahmad055 commented on #299
This is a known issue, this tool has been designed to reload based on any change. The ability to reload based on new resource (secret/configmap) addition is optional and limited. The Kubernetes API return all the resources as new resources at the start and there isn't a way to check which resource was created with different content. So that's why the issue happens. We welcome any suggestions and a

[2022-06-18 20:54] #315 closed

[2022-06-19 05:42] AnuragEkkati commented on #320
Yes, it should be optional

[2022-06-22 12:59] vinzent opened #321 "Memory requirements"
We have deployed reloader 0.0.114 cluster-wide. We have a OpenShift 4.8 cluster with about 190  Namespaces, 5900 Secrets and 3200 ConfigMaps. Raw size of exported secrets+configmaps (`kubectl get secrets,configmaps -A -oyaml`) is 213m.  Only 15 deployments of 520 are annotated with Reloader annotations.

Memory usage (container_memory_working_set_bytes metric) on monday:

![grafik](https://user-im

[2022-06-23 08:26] vinzent commented on #320
Reporting it as a standard k8s event would be nice.

Mockup:

[code]

[2022-06-24 01:36] Danny5487401 opened #322 "argo rollout-- how to not creat a new ReplicaSet when configmap changes"
when configmap changed, a new ReplicaSet happens and a old one was killed. i want to just maintain the same replicaset!

[2022-06-24 02:51] domeales-paloit commented on #185
Hi folks,

I am using https://external-secrets.io/v0.5.7/ and it is updating my `Secret` resources when the underlying AWS SecretsManager secret values are updated.

I am attempting to integrate this with Reloader. I have added the `reloader.stakater.com/auto: "true"` annotation to my `Deployment` and when External Secrets update my `Secret` the `Deployment` pods are not restarting (as expected).

[2022-06-24 02:57] domeales-paloit commented on #185
@ericmeadows Can you explain how it is working for you? Are you using `reloader.stakater.com/auto: "true"` on `Deployment` resources?

[2022-06-24 03:47] ericmeadows commented on #185
We don't use Stakater, but we use 2 charts.  ExternalSecrets, and deployments.  I found it relevant to this thread to mention using ExternalSecrets as an alternative solution to the issue.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dom Eales @ PaloIT ***@***.***>
Sent: Thursday, June 23, 2022 10:57:38 PM
To: stakater/Reloader ***@***.***>
Cc: Meadows, Eric A

[2022-06-24 03:49] domeales-paloit commented on #185
@ericmeadows yeah ExternalSecrets is great. I would like to get it working with Reloader if possible. I suspect the way that ExternalSecrets is updating the secrets is not triggering an event in Reloader.

Thanks anyway

[2022-06-24 07:51] alin-taranu opened #323 "[Security] - CVE-2022-1996 vulnerability brought by go-restful library"
We have found the following issue after scanning the v0.0.117 version of reloader: "Authorization Bypass Through User-Controlled Key in GitHub repository emicklei/go-restful prior to v3.8.0"
Is it possible to update the library to the v.3.8.0 version?

[2022-06-25 09:35] smuda opened #324 "No tests or docs on PR #314?"
I can't find any tests or docs on changes in PR [314](https://github.com/stakater/Reloader/pull/314). Is this work in progress?

[2022-06-27 01:04] domeales-paloit commented on #185
Scratch that, it seems that Reloader is working with `ExternalSecrets`, perhaps it just has a delay. 👍

[2022-07-01 09:19] tomfankhaenel opened #325 ""Operation cannot be fulfilled" when using multiple replicas"
Hi,

i installed stakater-reloader via helm chart in version **v0.0.117** in a **kubernetes 1.21** environment. To ensure the reloader is always available i increased the **replica** amount from the default 1 to **2**.

In my case i am using the reloader to ensure the fluentbit and fluentd are restarted after the cert-manager has changed or recreated the certificates.

If only a single reloader is

[2022-07-01 10:48] faizanahmad055 commented on #325
Hi, currently reloader doesn't support multiple replicas. It is because how the reloader is designed and using multiple replicas will try to perform the change operation at the same time will cause the error mentioned above. Leader election can be implemented to achieve running the multiple instances. We welcome any kind of contributions via PR if you want. I am closing this issue for now as the r

[2022-07-01 10:48] #325 closed

[2022-07-01 16:27] andy-v-h commented on #250
This is a use case I'm hitting today while trying to work with an upstream helm chart. They don't (currently) support additional labels on the StatefulSet, only the pod. If `Reloader` would delete the pod, it would get recreated with the updated secret, so the mechanism does exist, it's somewhat clunky - i would agree with that sentiment.

[2022-07-04 12:10] tcolgate commented on #250
That wouldn't work well in practice though. If you had a statefulset with more than one pod, you'd probably end up deleting ("restarting"), all the pod at once, which is almost never a good idea. In the case given, it'd be easier to fork/PR the helm chart.

[2022-07-05 15:05] cristi-vlad opened #326 "Upgrade go-restful to 3.8.0 due to CVE-2022-1996"
Hello,

Is it possible to upgrade go dependency go-restful to latest available due to critical security CVE CVE-2022-1996 ?

Thank you !

[2022-07-05 15:08] rasheedamir commented on #323
yes @alin-taranu should be possible we will make new release

[2022-07-05 15:08] rasheedamir commented on #326
yes @cristi-vlad we will make new release asap

[2022-07-05 15:10] cristi-vlad commented on #326
Great. Thank you !

[2022-07-05 15:13] rasheedamir commented on #305
fixed now @tuladhar thanks for notifying

[2022-07-05 15:13] #305 closed

[2022-07-05 15:14] rasheedamir commented on #267
@smuda can we close this?

[2022-07-05 15:38] rasheedamir commented on #323
Dup https://github.com/stakater/Reloader/issues/326

[2022-07-05 15:38] rasheedamir commented on #326
dup https://github.com/stakater/Reloader/issues/323

[2022-07-05 15:38] #326 closed

[2022-07-05 15:43] cristi-vlad commented on #326
Thanks. Please let me know when new release is in place to plan our lifecycle.

[2022-07-07 06:45] hussnain612 commented on #323
github.com/emicklei/go-restful v2.9.5 is being imported by github.com/argoproj/argo-rollouts. The latest version of github.com/argoproj/argo-rollouts still uses github.com/emicklei/go-restful v2.9.5. This could only be updated to v3.8.0 if argo-rollouts updat their dependencies.

[2022-07-07 08:22] MahnoorAsghar commented on #323
Created an issue on the argo-rollouts repository, as their latest release also uses go-restful v2.9.5. Link to issue: https://github.com/argoproj/argo-rollouts/issues/2130

[2022-07-08 17:36] CMorton737 commented on #313
We just experienced this on a GKE cluster under normal operational circumstances

CP version: 1.21.12-gke.1500
Node pool: 1.20.12-gke.1500
Reloader: stakater/reloader:v0.0.110

[2022-07-08 19:34] faizanahmad055 commented on #313
Hi,
@CMorton737, @rishindra-singh, @sn-asownie
I just tested this again, it is working. Please share a sample deployment and configmap with the correct indentation that is not working for you and I can test it. So far, I am not able to reproduce this bug. It is working as intended and the pod is being restarted.

[2022-07-14 13:21] MahnoorAsghar commented on #323
PR #328 opened to fix this issue.

[2022-07-15 20:41] smuda commented on #267
@rasheedamir I'm currently on vacation but if it's ok with you I'll look into this in 2-3 weeks.

[2022-07-18 09:08] MahnoorAsghar commented on #323
Fixed. Closing Issue. @alin-taranu

[2022-07-18 09:08] #323 closed

[2022-07-21 11:58] tmeltser commented on #164
We have a similar case and would welcome the ability to specifically state the desired namespaces to be watched by the reloader (which does a very good job so far...)

[2022-08-05 11:59] aslafy-z commented on #164
It would be awesome if Reloader was able to filter in/out namespaces by label (maybe using the kubernetes LabelSelector pattern)

[2022-08-26 02:24] trombini77 opened #330 "Doub about a configuration that seems ok but app logs says other thing"
I installed the Reloader from Helm Chart (v0.0.118) and I used the following setup in values:

[code]

The Deployment into K8s shows:
[code]

At this point seems fine, but the Deployment Pod log showed something that seems this feature is not working:

[code]

My fear is with the **"KUBERNETES_NAMESPACE is unset, will detect changes in all namespaces."**

So is the ignoreNamespaces working or not?

[2022-08-29 16:00] faizanahmad055 commented on #330
@trombini77 You need to set the [watchGlobally](https://github.com/stakater/Reloader/blob/master/deployments/kubernetes/chart/reloader/values.yaml#L20) flag to false. It is true by default.

[2022-08-29 17:53] trombini77 commented on #330
Now it´s fine thanks.
![image](https://user-images.githubusercontent.com/13336060/187266349-78465d73-7e78-4b8c-a24d-2b51bdeb2655.png)

[2022-08-29 17:53] #330 closed

[2022-08-31 07:44] davinkevin commented on #144
We have the same problem with Kubernetes 1.23 (EKS) and the combo FluxCD + SealedSecrets. Sometime pods are not restarted with this same log.

[2022-09-05 08:36] linuxbsdfreak opened #331 "Update golang-runtime to version 1.19"
Hi,

We are running protecode scans on the container  image and found the following  vulnerabilities . Could you please update it ?

<img width="990" alt="Screenshot 2022-09-05 at 10 36 04" src="https://user-images.githubusercontent.com/1310120/188406005-d2a398c5-f8e0-486d-a7a7-59bdc7e98a61.png">

[2022-09-06 15:39] przemolb opened #332 "The same app deployed in different namespaces with their own configmaps - will reloader restart all apps ?"
We have k8s cluster with the following k8s scheme:
[code]
As you can see **the same application** has been deployed to different namespaces along with their corresponding configmaps.
If I add the following:
[code]
just to `ns-1/app` will `reloader` restart all `app` in all namespaces or just from the `ns-1` ?

[2022-09-08 11:43] norman-zon opened #333 "Reload Strategies and CD tools"
According to the README `--reload-strategy=annotations `is intended to work with auto-reconciliation using CD tools loke ArgoCD or FluxCD.

Either I get this wrong, or the README is the wrong way around regarding this point.

From the README regarding `--reload-strategy=annotations`:

But to me this seems not to be the case.
CD tools watch the ressources they have manifests for usually `deployment

[2022-09-09 09:08] 7oku opened #334 "Reload on secret recreation"
We try to implement reloader into a chain as follows:

vault => External Secrets Operator (ESO) => External Secret with a 15 mins interval => Secret <- watchd by reloader ---> restart deployment/pods

Each time a change in the vault is made, the ESO generates a Secret File for us. That's working flawless, however, the services referencing the Secret need to be restarted to use the new values.

If

[2022-09-09 10:08] faizanahmad055 commented on #334
Hi, the default functionality is that it reloads based on the modification but you can enable the flag for reloading on create and it will reload the pod upon resource creation. But please be mindful that this feature has a limitation, reloader doesn't know if the secret is created before or after the deployment itself and it can cause a false reload when your application is deployed for the first

[2022-09-09 20:01] tw-tmac opened #335 "Can reloader watch configmap/secrets from other namespaces?"
Is it possible do that? We are using AWS' fluentbit and the config map is in `aws-observability` namespace. We would like to use reloader to restart the deployment if we do any changes to that config map, but when i do an update in the configmap, reloader doesn't seem to pick up the changes (I looked in the reloader controller's log and it didn't detect any changes). I have used both annotations

[2022-09-11 19:23] MrImpossibru opened #336 "Security Issues found by Azure Defender"
Hello,
I just installed reloader in my AKS and got 2 security warnings:
- Kubernetes cluster containers should run with a read only root file system
- Kubernetes clusters should not allow container privilege escalation (Do not allow containers to run with privilege escalation to root in a Kubernetes cluster)

Hope you will fix them soon.

[2022-09-12 08:55] 7oku commented on #334
Thanks @faizanahmad055 that solved it!

Since we're using the kustomize deployment we've added the following patch:
[code]

That's reloading the pod now on deletion of the corresponding secret.

[2022-09-12 08:55] #334 closed

[2022-09-12 20:49] MrImpossibru commented on #336
How to fix all of them:
add three marked lines to the deployment
[code]

[2022-09-12 20:57] MrImpossibru commented on #336
And this is implemented already, but documented only in the Values file.

containerSecurityContext: {}
      # capabilities:
      #   drop:
      #     - ALL
      # allowPrivilegeEscalation: false
      # readOnlyRootFilesystem: true

[2022-09-12 20:57] #336 closed

[2022-09-14 15:50] CMorton737 commented on #313
Following up on this -- this always works for me when making edits directly to the ConfigMap via kubectl, but never works when the update to the ConfigMap via Helm.

[2022-09-15 07:33] naitmare01 opened #339 "readOnlyRootFilesystem doesn't get set to true"
When setting `readOnlyRootFileSystem: false` in the chart it creates tmp-volume as expected but it doesn't set `deployment.containerSecurityContext.readOnlyRootFilesystem: true` as expected by for example [Microsoft Azure pod security policy](https://www.azadvertizer.net/azpolicyadvertizer/df49d893-a74c-421d-bc95-c663042e5b80.html?desc=compareJson&left=https%3A%2F%2Fwww.azadvertizer.net%2Fazpolicy

[2022-09-15 08:22] gyuvaraj10 opened #340 "Reloader is not able to detect the changes when the confimaps or secrets are recreated with the same name (having new data)"
1. Deploy the Reloader
2. Depoly a servive along with configmap, secrets
3. now delete configmaps/secrets for the specific service
4. recreaete the configmap/secret by adding a new value.
It is expected that reloader should detect the change

[2022-09-15 10:08] faizanahmad055 commented on #340
Deletion and recreation is not an update/change event and it is handled in a different way. By default this is disabled. The default functionality is that it reloads based on the modification but you can enable the flag for reloading on create and it will reload the pod upon resource creation. But please be mindful that this feature has a limitation, the reloader doesn't know if the secret is crea

[2022-09-15 10:08] #340 closed

[2022-09-15 10:12] faizanahmad055 commented on #335
Hi, reloader only reloads the pod if the deployment and secret/configmap is deployed in the same namespace. This is by design because we can have same name secrets and deployments in different namespaces which can cause conflicts. Marking this as not an issue and closing this. Please reopen in case of any questions, concerns or suggestions.

[2022-09-15 10:12] #335 closed

[2022-09-15 12:53] tw-tmac commented on #335
Is it possible to have an enhancement to support cross namespace? I think it will be pretty useful for folks who are using eks which has a lot of different config maps that are in aws specific namespaces. The notation can be, so that even if you have the same name across namespaces, the namespace will be the unique identifier

[code]

[2022-09-15 13:48] faizanahmad055 commented on #335
It seems like a good optional add-on. It will only be possible when the reloader runs in a cluster scope. We always welcome contributions from community, would you like to create a PR for this :)

[2022-09-19 16:57] gdevelek opened #342 "Deleting and immediately recreating the CM doesn't trigger reload"
I need to automatically update the CM, and the trick with the --dry-run doesn't work because my CM is larger than 256KB, so I have to delete and immediately recreate the CM, and then I notice that the reloader didn't trigger the reloading of the deployment where the CM is mounted as a volume.

Any solution for this?

[2022-09-19 18:06] faizanahmad055 commented on #342
This has been asked before: #340 This behaviour is by design. But you can read this for solution #340

[2022-09-19 18:06] #342 closed

[2022-09-27 18:22] CMorton737 commented on #313
Hello again, I finally had time to do a deeper level of troubleshooting here.  Our organization uses a single genericized Helm chart for our microservice suite.  The behavior described in my comment above, where ConfigMap changes made by Helm were failing to trigger Reloader, was due to the specific behavior of our Helm chart.  Rather than making updates to the existing ConfigMap, it was doing a f

[2022-09-29 15:47] avishefi opened #344 "Regex for ignored and included namespaces"
The current `--namespaces-to-ignore` flag includes a plain text list of namespaces to ignore.

Add a regex for:
1. Namespaces to ignore - to allow bulk exclusion of namespaces
2. Namespaces to include - to avoid excluding all patterns and instead use a whitelist

[2022-10-11 00:13] rberrelleza opened #346 "HIGH vulnerability in 0.0.124: CVE-2022-27664 golang.org/x/net"
Scanning stakater/reloader:v0.0.124 with trivy results in the following HIGH vulnerability: https://avd.aquasec.com/nvd/2022/cve-2022-27664

It seems like the easier way to fix it is to build reloader with Golang  > 1.19.1

[2022-10-14 18:50] sapher commented on #185
I have tried reloader with external secret today and it worked => https://gist.github.com/sapher/ed2eabb7820973caa19dd4753e69955b here the gist if someone want to try

[2022-10-18 09:58] IdanAdar opened #348 "Can a UBI image variant be added?"
For compliance purposes, some cloud providers require images to be based on UBI by RedHat. To that end, we'd like Reloader to offer also an image based on UBI as base image next to distroless

[2022-10-18 10:04] rasheedamir commented on #348
@IdanAdar can you please add description and also reasoning?

[2022-10-21 00:10] tooptoop4 opened #349 "typo - stakaer"
https://github.com/stakater/Reloader/blob/50791ad51a0f1aa25d91ff7dfa0f1fbf861e7726/internal/pkg/constants/constants.go#L26 has stakaer instead of stakater

[2022-10-21 08:42] avestuk commented on #349
@tooptoop4 Sorry about that. I've raised a fix.

[2022-10-21 10:34] angelbarrera92 opened #351 "prometheus-operator StatefulSet does not rollout all pods"
Hi team!

We are facing something similar to #145

The reloader works fine for regular statefulsets but something is not working correctly with statefulsets managed by prometheus-operator.

Reloader detects the change correctly, but it just triggers the update of one out of N (3 in my case). I'm almost sure this is an incompatibility with Prometheus Operator, WDYT?

Did you face this before?

Than

[2022-10-31 06:23] smuda opened #352 "Wrong hash of github.com/argoproj/argo-rollouts@v1.2.1 but only via direct"
Building Reloader without a proxy on the Internet, the hash in go.sum is incorrect:

[code]

So it seems to be a mismatch of whats in argo repository and the golang internet proxy.

Easiest solution is probably to upgrade the dependency to v1.3.1.

[2022-10-31 07:19] rberrelleza commented on #346
we need to wait until https://github.com/kubernetes/client-go/commit/d2367833c1c36d1a21b6e805d68a5f768e307d07 is released to update the version of client-go and get the patched version of golang.org/x/net

[2022-11-01 07:14] smuda commented on #346
To fix CVE-2022-27664, add the following to go.mod:

[code]

To make trivy happy, you'll also need to update golang.org/x/text to 0.3.8:

[code]

That will make trivy happy.

[2022-11-10 18:57] ata18 commented on #164
@faizanahmad055 I am using the helm chart to deploy reloader like this:
[code]

I can see a clusterRole and clusterRoleBinding is created for this. So I hope it should be able to watch configmap changes in all namespaces.
`reloader-1668050029-reloader-role-binding              ClusterRole/reloader-1668050029-reloader-role`

I have a deployment object defined as below:
[code]
  But changes to `MyAp

[2022-11-11 08:22] faizanahmad055 commented on #164
@ata18 are both the configmap and deployment in the same namespace? It can only work if both are in the same namespace. If it is in the same namespace then please share the reloader logs.

[2022-11-11 18:13] ata18 commented on #164
@faizanahmad055 Thanks for your response. I retried the same steps in a fresh deployment and it seems to be working this time.

[2022-11-14 15:48] mmerickel opened #355 "consider publishing packages to ghcr"
ghcr doesn't suffer from the rate limiting issues of docker hub so it'd be nice to publish to https://github.com/orgs/stakater/packages?repo_name=Reloader as well. :-)

[2022-11-17 02:12] moleskin-smile opened #357 "Reloader logs Kubernetes Secrets"
Reloader sometimes logs `Secret` K8s resources. It could be a security issue in many production environments.

Real world example:

[code]

(I've masked the secret resource with `<entire-secret-resource-appeared-here>` above).

The "Dropping the key..." log event [is logged](https://github.com/stakater/Reloader/blob/50791ad51a0f1aa25d91ff7dfa0f1fbf861e7726/internal/pkg/controller/controller.go#L18

[2022-11-17 09:12] mersl opened #358 "Cron alike reloading"
I'm using reloader since quite some time and it works very well for most of our needs.

Some container images would need periodical reloads (ie. they got rebuild by pipeline to get for example security fixes, but have the same code base incl. the same image tag incl latest [1] ).

Assuming we have imagepullPolicy set to always, reloader could do the needed actions, if it would trigger on a cron al

[2022-11-17 18:43] ctrought opened #359 ""Objects listed" error:<nil> exit code 2"
The controller fails to watch/list secrets and configmaps, it throws a very vague error _"Objects listed" error:<nil>_ so it's tough to determine exactly what is wrong.

Environment: OpenShift 4.10
Kubernetes: v1.23.5+8471591

There are about 3k secrets in the cluster, tried deploying watchGlobally=false and same result.

[code]

Exit code
[code]

helm values.yaml
[code]

[2022-11-18 16:13] bukovjanmic commented on #359
Just a note - trying version 0.0.124, also on Openshift 4.10.32, seems to work correctly. Our test cluster is small and has fewer secrets, though. We watch both secrets and configmaps

However, in logs we see:

I1118 16:03:18.971645 1 trace.go:205] Trace[140954425]: "Reflector ListAndWatch" name:pkg/mod/k8s.io/client-go@v0.24.2/tools/cache/reflector.go:167 (18-Nov-2022 16:02:58.985) (total time: 1

[2022-11-18 21:07] ctrought commented on #359
You're absolutely right. Well this is a slight facepalm moment for myself here 😄 , it's simply exiting due to a sigterm from Kubernetes because the liveness probe is failing.. ha! The liveness probe was recently changed in 6299b1d8e918b0978b0d94b00c58970bb2c567c2, it used to also point to `:9090/metrics` but a dedicated probe at `:9091/live` was added. Well as you can see my values.yaml is set to

[2022-11-18 21:07] #359 closed

[2022-11-30 21:20] rasheedamir commented on #357
@moleskin-smile thanks for pointing it out; would you like to contribute a PR for fix?

[2022-11-30 23:08] #357 closed